In [1]:
import pandas as pd
import numpy as np
import warnings
import warnings
from datetime import datetime
warnings.filterwarnings("ignore")

# func

In [186]:
def preprocess_tp_data(path):
  tp_data = pd.read_csv(path)
  tp_data.drop_duplicates(inplace = True)
  tp_data.last_r.loc[tp_data.last_r < 0] = -1
  tp_data.state_close_estimate.fillna(tp_data.last_r , inplace = True)
  tp_data.state_max_r.fillna(tp_data.last_r , inplace = True)
  tp_data.state_MA_r.fillna(tp_data.last_r, inplace = True)
  tp_data.state_RSI_r.fillna(tp_data.last_r, inplace = True)
  tp_data.state_MA_r.loc[tp_data.state_MA_r < -1] = -1
  tp_data.state_max_r.loc[tp_data.state_max_r < -1] = -1
  tp_data.state_chain.loc[~tp_data.state_chain.isna()] = tp_data.state_chain.loc[~tp_data.state_chain.isna()].apply(lambda x:str(x).strip('][').split(', '))
  tp_data.state_chain.loc[~tp_data.state_chain.isna()] = tp_data.state_chain.loc[~tp_data.state_chain.isna()].apply(lambda x:[float(element) for element in x])
  tp_data['state_day_start'] = tp_data['state_day_start'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
  tp_data['state_day_end'] = tp_data['state_day_end'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
  return tp_data
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput120.csv')

In [187]:
def get_return_with_max_estimate(state_return_list, min_thresh = 5, cut_thresh = 0.7):
    c = np.array(state_return_list)
    x = c[c > min_thresh]
    if len(x) > 0:
        list_temp = [x[0]]
        for i in range(1, len(x)):
            temp = x[0:i].max() * cut_thresh
            list_temp.append(temp)
        temp_df = pd.DataFrame()
        temp_df['a'] = x
        temp_df['b'] = list_temp
        return temp_df.a.iloc[-1] if temp_df.loc[temp_df.a < temp_df.b].empty else  temp_df.loc[temp_df.a < temp_df.b].iloc[0].a
    else:
        lost_r = c[-1] if c[-1] > 0 else -1
        return lost_r

#concat_chain_data['estimate_with_thresh'] = concat_chain_data.state_chain.apply(lambda x : get_return_with_max_estimate(x) )

# TP data

In [188]:
tp_data = pd.read_csv('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput270.csv')
tp_data.head(5)

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,MRK,1,2022-05-16 13:50:00,2022-05-18 13:50:00,90.985,90.510,NaN,7.400000,3.610526,3.884211,3.610526,"[-0.13684210526312074, -0.26315789473680745, -..."
1,MRK,2,2022-05-18 18:50:00,2022-05-19 19:00:00,92.204,92.394,NaN,5.915789,NaN,NaN,-1.000000,"[0.2842105263158036, 0.6526315789474258, 1.178..."
2,MRK,1,2022-05-25 16:10:00,2022-05-26 14:20:00,93.138,92.818,NaN,2.225000,0.131250,NaN,-1.000000,"[0.44374999999999665, 0.4750000000000133, 0.13..."
3,MRK,2,2022-05-26 14:35:00,2022-06-01 19:35:00,93.028,93.458,NaN,6.902326,3.600000,5.506977,3.600000,"[-0.05116279069765351, -0.5860465116278868, -0..."
4,MRK,2,2022-06-01 19:30:00,2022-06-03 13:40:00,91.385,92.145,NaN,3.480263,-0.125000,NaN,1.388158,"[-0.006578947368433847, -0.1250000000000187, 0..."

In [202]:
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput90.csv')
tp_data[['state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].describe()

       state_close_estimate  state_max_r  state_MA_r  state_RSI_r      last_r
count            380.000000   380.000000  380.000000   380.000000  380.000000
mean               0.123399     2.594735   -0.024286     0.055182   -0.042620
std                3.929826     6.020758    3.659371     3.279577    3.668570
min               -1.000000    -1.000000   -1.000000    -1.000000   -1.000000
25%               -1.000000    -0.061935   -1.000000    -1.000000   -1.000000
50%               -1.000000     0.466667   -1.000000    -1.000000   -1.000000
75%               -1.000000     2.452899   -1.000000    -1.000000   -1.000000
max               32.342268    47.935616   32.342268    33.528571   32.342268

In [203]:
tp_data[['state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].sum()

state_close_estimate     46.891751
state_max_r             985.999242
state_MA_r               -9.228510
state_RSI_r              20.969008
last_r                  -16.195593
dtype: float64

In [102]:
tp_data.head(5)

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,MRK,1,2022-11-09 14:55:00,2022-11-09 19:50:00,102.024,101.814,0.885714,7.504762,0.885714,0.885714,0.885714,"[1.5999999999999324, 3.1238095238094337, 3.552..."
1,MRK,1,2022-11-16 14:55:00,2022-11-16 15:00:00,99.946,99.656,-1.000000,-0.572414,-1.000000,-1.000000,-1.000000,"[-0.572413793103425, -0.882758620689637]"
2,MRK,2,2022-11-16 19:35:00,2022-11-16 19:55:00,99.898,100.028,-1.000000,0.984615,-1.000000,-1.000000,-1.000000,"[0.9846153846153123, 0.75384615384609, 0.52307..."
3,MRK,1,2022-11-25 15:30:00,2022-11-25 15:40:00,107.268,107.076,-1.000000,-0.458333,-1.000000,-1.000000,-1.000000,"[-0.770833333333284, -0.45833333333328397, -0...."
4,MRK,1,2022-11-29 18:25:00,2022-11-29 18:55:00,108.816,108.592,-1.000000,0.241071,-1.000000,-1.000000,-1.000000,"[0.10714285714285941, -0.42857142857143765, -0..."

# concat data

In [183]:
import glob , os
concat_data = pd.DataFrame()
for path in glob.glob("/Users/tranthong/Desktop/stock-app/state_output/state_output/*.csv"):
    tp_data = pd.read_csv(path)
    concat_data = pd.concat([tp_data, concat_data])
concat_data.reset_index(inplace=True)
concat_data.head(5)

,index,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,0,MRK,2,1.662560e+09,1.662561e+09,86.386,86.671,NaN,-0.119298,NaN,NaN,-1.000000,"[0.11929824561405766, 0.4701754385964981, 0.82..."
1,1,MRK,2,1.662646e+09,1.662647e+09,86.508,86.838,NaN,0.296970,NaN,NaN,-1.000000,"[-0.2969696969696954, -0.11515151515150576, 0...."
2,2,MRK,2,1.663012e+09,1.663163e+09,87.692,87.812,8.536,17.266667,3.1,8.016667,3.100000,"[-0.09999999999989342, -8.016666666667222, -7...."
3,3,MRK,2,1.663250e+09,1.663252e+09,86.412,86.632,NaN,0.509091,NaN,NaN,-0.672727,"[-0.5090909090909526, -0.5090909090909526, -0...."
4,4,MRK,1,1.663338e+09,1.663339e+09,87.218,86.998,NaN,-0.218182,NaN,NaN,-0.809091,NaN

In [34]:
total_state = len(concat_data)
profit_state = len(concat_data.loc[concat_data.state_close_estimate > 0]) 
loss_state = total_state -  profit_state

total_profit = concat_data.state_close_estimate.sum()
total_win_profit = concat_data.state_close_estimate.loc[concat_data.state_close_estimate > 0].sum()
total_loss_profit = concat_data.state_close_estimate.loc[concat_data.state_close_estimate < 0].sum()
print(total_state , loss_state , profit_state , profit_state/total_state)
print(total_profit,total_loss_profit,total_win_profit)

1046 886 160 0.15296367112810708
325.74728183040054 -885.0 1210.7472818304004

In [35]:
concat_chain_data = concat_data.loc[(concat_data.state_chain.notna())]
concat_chain_data.state_close_estimate.loc[concat_chain_data.state_close_estimate>0].sum()

649.9320075821444

In [ ]:
concat_chain_data = concat_data.loc[(concat_data.state_chain.notna())]
concat_chain_data['len_state_chain']  = concat_chain_data.state_chain.apply(lambda x : len(x))
concat_chain_data = concat_chain_data.loc[concat_chain_data.len_state_chain > 2]
concat_chain_data.head(50)

In [264]:
concat_chain_data = concat_data.loc[(concat_data.state_chain.notna())]
concat_chain_data['len_state_chain']  = concat_chain_data.state_chain.apply(lambda x : len(x))
concat_chain_data.loc[(concat_chain_data.len_state_chain <= 2) & (concat_chain_data.state_close_estimate > 0)].state_close_estimate.sum()

4.446544523588392

In [242]:
concat_chain_data.head(5)

,index,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain,len_state_chain,estimate_with_thresh
0,0,MRK,2,1.662560e+09,1.662561e+09,86.386,86.671,-1.000,-0.119298,-1.0,-1.000000,-1.0,"[-0.11929824561405766, -0.4701754385964981, -0...",4,-1.000000
1,1,MRK,2,1.662646e+09,1.662647e+09,86.508,86.838,-1.000,0.296970,-1.0,-1.000000,-1.0,"[0.2969696969696954, 0.11515151515150576, -0.7...",4,-1.000000
2,2,MRK,2,1.663012e+09,1.663163e+09,87.692,87.812,8.536,17.266667,3.1,8.016667,3.1,"[0.09999999999989342, 8.016666666667222, 7.100...",77,17.266667
3,3,MRK,2,1.663250e+09,1.663252e+09,86.412,86.632,-1.000,0.509091,-1.0,-1.000000,-1.0,"[0.5090909090909526, 0.5090909090909526, 0.327...",9,-1.000000
7,7,MRK,2,1.663696e+09,1.663702e+09,85.906,86.016,-1.000,2.236364,-1.0,-1.000000,-1.0,"[0.32727272727274137, 1.3272727272727414, 2.14...",24,-1.000000

In [241]:
concat_chain_data['estimate_with_thresh'] = concat_chain_data.state_chain.apply(lambda x : get_return_with_max_estimate(x , 12 , 0.7) )
concat_chain_data.estimate_with_thresh.sum()

-27.32915049847987

# Stock_tp_data

In [184]:
tp_data = concat_data
stock_tp_data = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].groupby('state_ticker').sum()
stock_tp_data['win_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].loc[tp_data.state_MA_r > 0].groupby('state_ticker').count().state_MA_r
stock_tp_data['loss_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].loc[tp_data.state_MA_r < 0].groupby('state_ticker').count().state_MA_r
stock_tp_data.win_count.fillna(0 , inplace = True)
stock_tp_data['win_count'] = stock_tp_data['win_count'].astype(int) 
stock_tp_data.loc[stock_tp_data.state_close_estimate > -20].state_close_estimate.sum()

628.2622942860652

In [185]:
stock_tp_data

,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,win_count,loss_count
state_ticker,,,,,,,
AAPL,14.161714,122.088848,34.854036,31.494305,8.735909,10,4.0
ABBV,0.000000,49.232471,4.980772,8.696782,-20.891093,2,NaN
ABT,0.000000,46.689612,-8.945616,9.147619,-16.222346,2,8.0
ADBE,44.639129,361.466698,261.669462,96.000441,246.164696,9,4.0
ADP,16.510476,41.950572,-0.940973,0.000000,-6.111917,6,3.0
AMD,50.445194,123.419843,49.051577,68.589524,26.894356,8,3.0
AMGN,23.927538,136.828973,54.484824,53.958573,43.234033,7,3.0
AMT,0.000000,44.962538,14.003569,4.356098,10.131333,3,2.0
ATVI,0.000000,28.845711,-0.436364,13.881818,-6.621086,1,3.0
AVGO,23.441000,50.347925,3.117536,7.620833,12.033645,2,4.0
BABA,0.000000,39.411672,1.112359,15.337255,-6.990773,2,2.0
BAC,10.201714,74.432212,19.904064,12.469544,3.673081,4,3.0
BIIB,0.000000,11.114352,0.000000,0.000000,-16.569903,0,NaN
BMY,0.000000,101.969101,10.252978,23.338679,26.132985,9,5.0
CMCSA,0.000000,74.538044,24.365500,25.823529,9.170982,3,6.0
CSX,13.156000,42.370215,-0.579487,15.933333,-1.903297,3,3.0
CVS,0.000000,42.286863,-0.661771,6.457143,-11.459640,2,4.0
DE30,44.912935,151.781129,40.091188,0.000000,-1.267266,6,1.0
F,21.771750,52.295742,-8.819414,11.935577,13.008364,5,2.0
FB,0.000000,35.303892,5.235199,0.000000,-5.050242,2,1.0
GILD,50.781837,123.545579,43.535509,38.750949,39.059525,5,3.0
GOOGL,0.000000,38.889717,9.520301,3.576744,3.213115,4,3.0
HD,0.000000,32.000589,3.425810,0.000000,-6.516129,1,2.0
IBM,0.000000,70.256029,22.502906,14.300485,15.779468,2,2.0
INTC,8.118000,50.339714,3.787500,10.466071,-11.414775,2,2.0
JNJ,0.000000,28.919670,-2.694110,4.113514,-16.786788,3,2.0
JP225,104.597450,351.477858,112.517707,54.535589,19.297484,16,1.0
JPM,10.956000,92.389686,34.985758,15.165079,31.811515,3,2.0
LLY,0.000000,28.734232,-4.064905,6.205769,-16.645275,2,3.0
LMT,0.000000,38.637838,-6.203897,9.362364,-19.941779,1,3.0
MA,0.000000,101.961812,68.501589,8.204825,58.205789,2,1.0
MCD,8.029585,96.873552,9.271621,9.295652,14.752549,4,6.0
MDLZ,18.245333,37.042902,-3.096266,10.447863,0.377457,3,2.0
MMM,16.424571,79.141779,19.368822,17.266667,11.067802,4,3.0
MO,14.201000,59.047767,2.981828,6.892308,-0.534626,3,4.0
MRK,8.536000,94.968833,-30.013838,44.623499,1.592455,6,5.0
MS,13.596000,33.732579,-9.263504,0.000000,0.278448,2,3.0
MSFT,37.787640,164.898448,69.353986,29.651060,32.102513,8,3.0
NFLX,10.690639,69.341939,7.428645,34.378548,-2.746042,3,3.0
NKE,0.000000,7.075520,0.000000,0.000000,-6.568724,0,NaN
ORCL,0.000000,28.008761,-4.586110,7.081242,-13.326865,2,4.0
PEP,8.420211,29.235015,-1.136842,0.000000,-11.630677,0,1.0
PFE,0.000000,54.716779,7.956588,0.553488,-24.187943,4,2.0
PG,20.049857,81.396292,3.661092,14.980952,-14.321898,3,5.0
PM,0.000000,21.205028,0.032647,0.000000,-5.191765,2,2.0
PYPL,0.000000,81.036416,15.631122,37.659641,-14.080360,6,4.0
REGN,0.000000,111.084703,83.151394,64.305820,60.691304,2,4.0
STOXX50,8.148781,106.031552,27.141711,4.986441,-17.687191,8,2.0
T,18.172000,44.588492,-23.400000,14.600000,-7.191667,2,7.0
TMO,8.339938,54.149007,-16.293465,4.390123,-14.525208,2,5.0

In [107]:
tp_data.head(5)

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,MRK,1,2022-11-09 14:55:00,2022-11-09 19:50:00,102.024,101.814,0.885714,7.504762,0.885714,0.885714,0.885714,"[1.5999999999999324, 3.1238095238094337, 3.552..."
1,MRK,1,2022-11-16 14:55:00,2022-11-16 15:00:00,99.946,99.656,-1.000000,-0.572414,-1.000000,-1.000000,-1.000000,"[-0.572413793103425, -0.882758620689637]"
2,MRK,2,2022-11-16 19:35:00,2022-11-16 19:55:00,99.898,100.028,-1.000000,0.984615,-1.000000,-1.000000,-1.000000,"[0.9846153846153123, 0.75384615384609, 0.52307..."
3,MRK,1,2022-11-25 15:30:00,2022-11-25 15:40:00,107.268,107.076,-1.000000,-0.458333,-1.000000,-1.000000,-1.000000,"[-0.770833333333284, -0.45833333333328397, -0...."
4,MRK,1,2022-11-29 18:25:00,2022-11-29 18:55:00,108.816,108.592,-1.000000,0.241071,-1.000000,-1.000000,-1.000000,"[0.10714285714285941, -0.42857142857143765, -0..."

In [151]:
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new.csv')
def get_return_with_max_estimate(state_return_list, min_thresh = 12, cut_thresh = 0.66):
    c = np.array(state_return_list)
    x = c[c > min_thresh]
    if len(x) > 0:
        list_temp = [x[0]]
        for i in range(1, len(x)):
            temp = x[0:i].max() * cut_thresh
            list_temp.append(temp)
        temp_df = pd.DataFrame()
        temp_df['a'] = x
        temp_df['b'] = list_temp
        return temp_df.a.iloc[-1] if temp_df.loc[temp_df.a < temp_df.b].empty else  temp_df.loc[temp_df.a < temp_df.b].iloc[0].a
    else:
        lost_r = c[-1] if c[-1] > 0 else -1
        return lost_r

tp_data['new_estimate'] = tp_data.state_chain.apply(lambda x: get_return_with_max_estimate(x, 12, 0.66))
tp_data.new_estimate.sum()

42.79521176225152

In [152]:
tp_data.state_close_estimate.sum()

39.52315681719646

In [210]:
improt
path = '/Users/tranthong/Desktop/stock-app/stock_data_M5/'
list_stock = []
for file_name in os.listdir(path):
  list_stock.append(re.search(r"(.+)\_.+" ,file_name).group(1))
list_stock_new = list(dict.fromkeys(list_stock))
list_stock_new

   a  b
0  1  2

In [181]:
# a = {'b':1}
# if 'c' in a.keys():
#     print('a')
# else:
#     print('v')
a = {'b':1 ,  'c':2}
b = {'b':1 , 'c':3}
d = [a,b]

# for x in d:
#     x['d'] = 1
#     del x['b']

if('b' in a.keys()) or ('b' in b.keys()):
    print('a')

d

a

[{'b': 1, 'c': 2}, {'b': 1, 'c': 3}]

In [ ]:
tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_chain.iloc[0]

In [157]:
path =  '/Users/tranthong/Desktop/stock-app/stock_data_M5/'
def get_mt5_raw_data_range(ticker, start, end):
    stock_dir = path + ticker +'_2022.csv'
    rates =  pd.read_csv(stock_dir, index_col =[0])
    rates['index'] = rates['index'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
    a = rates.loc[ (rates['index'] > start) & (rates['index'] < end )]
    a.reset_index(inplace = True ,drop = True)
    a['day_num'] = a.index
    return a

start = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_day_start.iloc[0]
end = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_day_end.iloc[0]
ticker = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_ticker.iloc[0]
open = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_open.iloc[0]
stoploss = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_stop_loss.iloc[0]
r = abs(open -stoploss)
data =  get_mt5_raw_data_range(ticker, start, end)

In [158]:
(data.Close - open) / r

0       0.292308
1       0.523077
2      -0.015385
3       0.446154
4       0.984615
         ...
297    18.215385
298    18.215385
299    18.215385
300    18.061538
301    17.138462
Name: Close, Length: 302, dtype: float64