In [1]:
import pandas as pd
import numpy as np
import warnings
import warnings
from datetime import datetime
warnings.filterwarnings("ignore")

# func

In [693]:
def preprocess_tp_data(path):
  tp_data = pd.read_csv(path)
  tp_data.drop_duplicates(inplace = True)
  tp_data.last_r.loc[tp_data.last_r < 0] = -1
  tp_data.state_close_estimate.fillna(tp_data.last_r , inplace = True)
  tp_data.state_max_r.fillna(tp_data.last_r , inplace = True)
  tp_data.state_MA_r.fillna(tp_data.last_r, inplace = True)
  tp_data.state_RSI_r.fillna(tp_data.last_r, inplace = True)
  tp_data.state_MA_r.loc[tp_data.state_MA_r < -1] = -1
  tp_data.state_max_r.loc[tp_data.state_max_r < -1] = -1
  tp_data.state_chain.loc[~tp_data.state_chain.isna()] = tp_data.state_chain.loc[~tp_data.state_chain.isna()].apply(lambda x:str(x).strip('][').split(', '))
  tp_data.state_chain.loc[~tp_data.state_chain.isna()] = tp_data.state_chain.loc[~tp_data.state_chain.isna()].apply(lambda x:[float(element) for element in x])
  tp_data['state_day_start'] = tp_data['state_day_start'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
  tp_data['state_day_end'] = tp_data['state_day_end'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

  spread_df = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread.csv')
  spread_df['deviation'] = 0
  spread_df['spread'] = spread_df['spread'] / 2
  tp_data['spread'] = tp_data.state_ticker.apply(lambda x: spread_df.spread.loc[spread_df.ticker == x].iloc[0])
  tp_data['deviation'] = tp_data.state_ticker.apply(lambda x: spread_df.deviation.loc[spread_df.ticker == x].iloc[0])
  tp_data['point'] = tp_data.state_ticker.apply(lambda x: spread_df.point.loc[spread_df.ticker == x].iloc[0])
  tp_data['sum_gap'] = ((tp_data['spread'] + tp_data['deviation']) * tp_data['point']) / abs(tp_data['state_open'] - tp_data['state_stop_loss'] ) + 1
  tp_data['state_chain_new'] = [np.array(y) / x for x,y in tp_data[['sum_gap' , 'state_chain']].to_numpy()]
  return tp_data
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput120.csv')

In [511]:
def get_return_with_max_estimate(state_return_list, min_thresh = 5, cut_thresh = 0.7):
    c = np.array(state_return_list).copy()
    x_value = c[c > min_thresh]

    if len(x_value) > 0:
        x_value = x_value[0]
        x_index, = np.where(c == x_value)
        x = c[x_index[0]:]
        list_temp = [x[0] * cut_thresh]
        for i in range(1, len(x)):
            temp = x[0:i].max() * cut_thresh
            list_temp.append(temp)
        temp_df = pd.DataFrame()
        temp_df['a'] = x
        temp_df['b'] = list_temp
        return temp_df.a.iloc[-1] if temp_df.loc[temp_df.a < temp_df.b].empty else  temp_df.loc[temp_df.a < temp_df.b].iloc[0].b
    else:
        lost_r = c[-1] if c[-1] > 0 else -1
        return lost_r

In [ ]:
def get_stock_data(tp_data):
    tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 15 , 0.6) )
    tp_data['estimate_with_thresh2'] = tp_data.state_chain_new.apply(lambda x : x.max())
    tp_data.estimate_with_thresh2.loc[tp_data.estimate_with_thresh2 < 5] = -1
    stock_tp_data = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2']].groupby('state_ticker').sum()
    stock_tp_data['win_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2']].loc[tp_data.state_MA_r > 0].groupby('state_ticker').count().state_MA_r
    stock_tp_data['loss_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r' , 'estimate_with_thresh', 'estimate_with_thresh2']].loc[tp_data.state_MA_r < 0].groupby('state_ticker').count().state_MA_r
    stock_tp_data.win_count.fillna(0 , inplace = True)
    stock_tp_data['win_count'] = stock_tp_data['win_count'].astype(int) 

    return stock_tp_data

# TP data

In [188]:
tp_data = pd.read_csv('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput270.csv')
tp_data.head(5)

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,MRK,1,2022-05-16 13:50:00,2022-05-18 13:50:00,90.985,90.510,NaN,7.400000,3.610526,3.884211,3.610526,"[-0.13684210526312074, -0.26315789473680745, -..."
1,MRK,2,2022-05-18 18:50:00,2022-05-19 19:00:00,92.204,92.394,NaN,5.915789,NaN,NaN,-1.000000,"[0.2842105263158036, 0.6526315789474258, 1.178..."
2,MRK,1,2022-05-25 16:10:00,2022-05-26 14:20:00,93.138,92.818,NaN,2.225000,0.131250,NaN,-1.000000,"[0.44374999999999665, 0.4750000000000133, 0.13..."
3,MRK,2,2022-05-26 14:35:00,2022-06-01 19:35:00,93.028,93.458,NaN,6.902326,3.600000,5.506977,3.600000,"[-0.05116279069765351, -0.5860465116278868, -0..."
4,MRK,2,2022-06-01 19:30:00,2022-06-03 13:40:00,91.385,92.145,NaN,3.480263,-0.125000,NaN,1.388158,"[-0.006578947368433847, -0.1250000000000187, 0..."

In [374]:
a = None
if a:
    print('a')

In [371]:
data1 = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread.csv')
data2 = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread2.csv')
data1['spread2'] = data1.ticker.apply(lambda x: data2.spread.loc[data2.ticker == x].iloc[0])
data1.loc[data1.spread != data1.spread2]

    Unnamed: 0   ticker  point  spread  deviation  spread2
0            0     AAPL   0.01       6          5        9
5            5      AMD   0.01      10          5       25
8            8     AMZN   0.01       4          5        6
12          12      BAC   0.01       8          5        9
13          13       BA   0.01      24          5       46
24          24     DE30   0.10      39          5       36
28          28       FB   0.01       8          5       41
38          38    JP225   0.10      90          5       89
50          50     MSFT   0.01      10          5       21
52          52     NFLX   0.01      24          5       81
54          54     NVDA   0.01      11          5       26
60          60     PYPL   0.01       9          5       16
63          63  STOXX50   0.01     397          5      387
65          65     TSLA   0.01       8          5        7

In [259]:
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput90.csv')
tp_data[['state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].describe()

       state_close_estimate  state_max_r  state_MA_r  state_RSI_r      last_r
count            380.000000   380.000000  380.000000   380.000000  380.000000
mean               0.123399     2.594735   -0.024286     0.055182   -0.042620
std                3.929826     6.020758    3.659371     3.279577    3.668570
min               -1.000000    -1.000000   -1.000000    -1.000000   -1.000000
25%               -1.000000    -0.061935   -1.000000    -1.000000   -1.000000
50%               -1.000000     0.466667   -1.000000    -1.000000   -1.000000
75%               -1.000000     2.452899   -1.000000    -1.000000   -1.000000
max               32.342268    47.935616   32.342268    33.528571   32.342268

In [260]:
tp_data[['state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].sum()

state_close_estimate     46.891751
state_max_r             985.999242
state_MA_r               -9.228510
state_RSI_r              20.969008
last_r                  -16.195593
dtype: float64

In [266]:
tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 12 , 0.7) )
tp_data.estimate_with_thresh.sum()

-63.334356909509566

In [264]:
tp_data.head(5)

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain,spread,deviation,point,sum_gap,state_chain_new
0,MRK,1,2022-11-09 14:55:00,2022-11-09 19:50:00,102.024,101.814,0.885714,7.504762,0.885714,0.885714,0.885714,"[1.5999999999999324, 3.1238095238094337, 3.552...",7,5,0.01,1.571429,"[1.0181818181817892, 1.9878787878787578, 2.260..."
1,MRK,1,2022-11-16 14:55:00,2022-11-16 15:00:00,99.946,99.656,-1.000000,-0.572414,-1.000000,-1.000000,-1.000000,"[-0.572413793103425, -0.882758620689637]",7,5,0.01,1.413793,"[-0.4048780487804681, -0.6243902439024211]"
2,MRK,2,2022-11-16 19:35:00,2022-11-16 19:55:00,99.898,100.028,-1.000000,0.984615,-1.000000,-1.000000,-1.000000,"[0.9846153846153123, 0.75384615384609, 0.52307...",7,5,0.01,1.923077,"[0.5119999999999807, 0.39199999999998075, 0.27..."
3,MRK,1,2022-11-25 15:30:00,2022-11-25 15:40:00,107.268,107.076,-1.000000,-0.458333,-1.000000,-1.000000,-1.000000,"[-0.770833333333284, -0.45833333333328397, -0....",7,5,0.01,1.625000,"[-0.4743589743589509, -0.2820512820512558, -0...."
4,MRK,1,2022-11-29 18:25:00,2022-11-29 18:55:00,108.816,108.592,-1.000000,0.241071,-1.000000,-1.000000,-1.000000,"[0.10714285714285941, -0.42857142857143765, -0...",7,5,0.01,1.535714,"[0.069767441860467, -0.279069767441868, -0.046..."

# concat data

In [694]:
import glob , os
concat_data = pd.DataFrame()
for path in glob.glob("/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/*.csv"):
    tp_data = preprocess_tp_data(path)
    tp_data['bash_path'] = str(os.path.basename(path))
    concat_data = pd.concat([tp_data, concat_data])
concat_data.reset_index(inplace=True)

In [695]:
concat_data['estimate_with_thresh'] = concat_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 8 , 0.6) )
concat_data['estimate_with_thresh2'] = concat_data.state_chain_new.apply(lambda x : x.max() * 0.6 )
concat_data.estimate_with_thresh2.loc[concat_data.estimate_with_thresh2 < 3] = -1
concat_data.estimate_with_thresh.sum()

-222.71900448031914

In [696]:
concat_data

,index,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,...,last_r,state_chain,spread,deviation,point,sum_gap,state_chain_new,bash_path,estimate_with_thresh,estimate_with_thresh2
0,0,MRK,1,2022-10-10 19:35:00,2022-10-11 13:40:00,90.712,90.482,-1.0000,0.382609,-1.0000,...,-1.0000,"[0.38260869565216427, -0.6173913043478976, -0....",3.5,0,0.01,1.152174,"[0.3320754716981056, -0.5358490566038369, -0.3...",stateoutput120.csv,-1.000000,-1.0
1,1,MRK,2,2022-10-11 19:05:00,2022-10-11 19:20:00,91.072,91.192,0.1000,1.100000,0.1000,...,0.1000,"[0.9333333333333728, 1.1, -0.3166666666666272,...",3.5,0,0.01,1.291667,"[0.7225806451613077, 0.8516129032257911, -0.24...",stateoutput120.csv,0.077419,-1.0
2,2,MRK,1,2022-10-14 14:00:00,2022-10-14 14:40:00,92.362,92.082,-1.0000,1.278571,-1.0000,...,-1.0000,"[1.278571428571438, 0.6000000000000203, -0.114...",3.5,0,0.01,1.125000,"[1.1365079365079453, 0.5333333333333515, -0.10...",stateoutput120.csv,-1.000000,-1.0
3,3,MRK,1,2022-10-18 13:40:00,2022-10-18 13:45:00,94.194,94.034,0.6625,0.662500,0.6625,...,0.6625,"[-0.7124999999999789, 0.6624999999999212]",3.5,0,0.01,1.218750,"[-0.5846153846153651, 0.5435897435896768]",stateoutput120.csv,0.543590,-1.0
4,4,MRK,2,2022-10-19 19:00:00,2022-10-21 13:40:00,93.268,93.448,-1.0000,4.377778,-1.0000,...,-1.0000,"[0.48888888888883625, 0.37777777777775146, 0.2...",3.5,0,0.01,1.194444,"[0.40930232558134855, 0.3162790697674177, 0.22...",stateoutput120.csv,-1.000000,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4730,681,CSCO,2,2022-05-13 18:10:00,2022-05-13 18:50:00,48.912,49.082,-1.0000,0.305882,-1.0000,...,-1.0000,"[0.3058823529411838, -0.16470588235293873, 0.1...",3.5,0,0.01,1.205882,"[0.2536585365853724, -0.13658536585365674, 0.1...",stateoutput270.csv,-1.000000,-1.0
4731,682,CSCO,2,2022-05-31 15:50:00,2022-05-31 17:35:00,45.000,45.350,-1.0000,0.028571,-1.0000,...,-1.0000,"[-0.14285714285713416, -0.4571428571428455, -0...",3.5,0,0.01,1.100000,"[-0.129870129870122, -0.4155844155844052, -0.5...",stateoutput270.csv,-1.000000,-1.0
4732,683,CSCO,1,2022-06-01 18:55:00,2022-06-02 13:40:00,45.222,45.092,-1.0000,1.138462,-1.0000,...,-1.0000,"[0.29230769230767717, 0.21538461538461287, 0.4...",3.5,0,0.01,1.269231,"[0.23030303030301666, 0.16969696969696646, 0.3...",stateoutput270.csv,-1.000000,-1.0
4733,684,CSCO,1,2022-06-06 15:15:00,2022-06-06 16:05:00,45.619,45.284,-1.0000,-0.355224,-1.0000,...,-1.0000,"[-0.3552238805970133, -0.5940298507462614, -0....",3.5,0,0.01,1.104478,"[-0.3216216216216203, -0.5378378378378315, -0....",stateoutput270.csv,-1.000000,-1.0
4734,685,CSCO,2,2022-06-07 13:45:00,2022-06-07 14:40:00,45.150,45.400,-1.0000,1.160000,-1.0000,...,-1.0000,"[0.28000000000000114, -0.1599999999999966, 0.6...",3.5,0,0.01,1.140000,"[0.24561403508772026, -0.14035087719297945, 0....",stateoutput270.csv,-1.000000,-1.0

In [697]:
stock_tp_data = concat_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2', 'bash_path']].groupby(['state_ticker' , 'bash_path']).sum()
stock_tp_data['win_count'] = concat_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2', 'bash_path']].loc[concat_data.state_MA_r > 0].groupby(['state_ticker' , 'bash_path']).count().state_MA_r
stock_tp_data['loss_count'] = concat_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2', 'bash_path']].loc[concat_data.state_MA_r < 0].groupby(['state_ticker' , 'bash_path']).count().state_MA_r
stock_tp_data.win_count.fillna(0 , inplace = True)
stock_tp_data['win_count'] = stock_tp_data['win_count'].astype(int) 
stock_tp_data

                                 state_close_estimate  state_max_r  \
state_ticker bash_path
AAPL         stateoutput120.csv             -0.473267    24.204790
             stateoutput150.csv             -2.117733    21.692807
             stateoutput180.csv             -4.709986    58.150310
             stateoutput210.csv            -13.768421    27.340992
             stateoutput240.csv             -0.868186    16.412262
...                                               ...          ...
TSLA         stateoutput150.csv             -5.280309    22.691570
             stateoutput180.csv            -11.494241     9.367959
             stateoutput210.csv              0.842688    10.829510
             stateoutput270.csv             -7.745189    17.497227
             stateoutput60.csv              31.526471    63.004396

                                 state_MA_r  state_RSI_r     last_r  \
state_ticker bash_path
AAPL         stateoutput120.csv   -0.473267     2.783911  -0.473267
             stateoutput150.csv   -1.678667    -2.117733  -2.117733
             stateoutput180.csv    3.864214     2.939569   2.939569
             stateoutput210.csv  -11.968672   -10.012171 -13.768421
             stateoutput240.csv   -4.610311    -4.981395  -4.888372
...                                     ...          ...        ...
TSLA         stateoutput150.csv   -4.400309    -2.518035  -5.280309
             stateoutput180.csv  -11.494241   -11.494241 -11.494241
             stateoutput210.csv    0.842688    -2.496393   0.842688
             stateoutput270.csv  -13.664435    -6.614169 -13.105251
             stateoutput60.csv    31.526471    -3.120588  31.526471

                                 estimate_with_thresh  estimate_with_thresh2  \
state_ticker bash_path
AAPL         stateoutput120.csv              1.673927               6.054788
             stateoutput150.csv             -2.053609              -0.080618
             stateoutput180.csv              4.960309               7.457115
             stateoutput210.csv            -13.853165              -2.702211
             stateoutput240.csv             -2.089565              -2.089565
...                                               ...                    ...
TSLA         stateoutput150.csv             -3.895730              -2.372135
             stateoutput180.csv            -11.525128              -9.841231
             stateoutput210.csv              0.604092              -4.457079
             stateoutput270.csv             -8.694217             -10.969091
             stateoutput60.csv              29.108333              20.556667

                                 win_count  loss_count
state_ticker bash_path
AAPL         stateoutput120.csv          2           8
             stateoutput150.csv          2          10
             stateoutput180.csv          2          15
             stateoutput210.csv          1          16
             stateoutput240.csv          1           9
...                                    ...         ...
TSLA         stateoutput150.csv          1           9
             stateoutput180.csv          1          13
             stateoutput210.csv          3           8
             stateoutput270.csv          2          17
             stateoutput60.csv           1          12

[478 rows x 9 columns]

In [670]:
portfolio_list = stock_tp_data.loc[stock_tp_data.estimate_with_thresh > -10].index.get_level_values(0).unique()

In [687]:
test_df = stock_tp_data.loc[stock_tp_data.index.get_level_values(0).isin(portfolio_list)]
x = test_df.loc[(test_df.estimate_with_thresh < -10)].groupby('state_ticker').count()
month_high_lost = x.loc[x.estimate_with_thresh > 2].index
new_portfolio_list = np.setdiff1d(portfolio_list, month_high_lost)

In [677]:
new_portfolio_list

array(['ADBE', 'ADP', 'AMD', 'AMGN', 'AMT', 'AMZN', 'AVGO', 'BMY', 'CHTR',
       'CMCSA', 'CME', 'COST', 'CSX', 'DE30', 'EA', 'GILD', 'HD', 'IBM',
       'INTU', 'JP225', 'KO', 'LIN', 'LMT', 'MA', 'MCD', 'MDLZ', 'MMM',
       'MO', 'MRK', 'MS', 'MSFT', 'NKE', 'PM', 'TMO', 'TSLA'],
      dtype=object)

In [699]:
stock_tp_data.loc[stock_tp_data.index.get_level_values(0).isin(new_portfolio_list)].sum()

state_close_estimate      975.979489
state_max_r              5880.564531
state_MA_r                814.682443
state_RSI_r               726.535107
last_r                    791.654915
estimate_with_thresh      757.917082
estimate_with_thresh2     726.722976
win_count                 355.000000
loss_count               1624.000000
dtype: float64

In [691]:
stock_tp_data.loc[stock_tp_data.index.get_level_values(0).isin(new_portfolio_list)].groupby('bash_path').sum()

,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,estimate_with_thresh,estimate_with_thresh2,win_count,loss_count
bash_path,,,,,,,,,
stateoutput120.csv,67.010320,733.490306,35.511833,68.329262,42.518169,-24.817105,-44.422169,41,234
stateoutput150.csv,402.871446,1234.015344,500.310076,95.060175,497.769482,252.928590,180.202311,55,214
stateoutput180.csv,81.521129,745.247997,84.703261,85.521915,82.296092,-9.258017,-19.399602,55,204
stateoutput210.csv,117.525167,794.241566,79.947217,185.254151,77.452274,40.038968,48.447205,47,222
stateoutput240.csv,48.674513,474.296273,-6.207780,47.142834,-7.808037,-11.440605,3.426329,28,159
stateoutput270.csv,77.238673,724.529664,51.350412,71.471736,42.034867,5.430926,-22.568147,51,241
stateoutput60.csv,127.747117,800.462511,56.642939,102.317948,44.723780,12.057708,-10.392721,56,244
stateoutput90.csv,53.391123,374.280870,12.424486,71.437086,12.668286,-8.491284,9.043538,22,106

In [692]:
stock_tp_data.loc[stock_tp_data.index.get_level_values(0).isin(new_portfolio_list)].groupby('state_ticker').sum()

,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,estimate_with_thresh,estimate_with_thresh2,win_count,loss_count
state_ticker,,,,,,,,,
ADBE,220.964351,399.441394,194.219489,57.508718,192.366481,169.593817,128.926647,11,59
ADP,21.583941,155.502693,12.236936,-2.457524,14.037927,7.788061,7.943657,11,49
AMD,11.401864,224.964498,-1.096410,38.392942,-8.922798,-20.887056,-22.177130,21,84
AMGN,72.121115,237.067871,56.421751,52.048203,57.008303,37.398224,40.105801,16,44
AMT,3.060792,121.414124,-15.636462,3.877702,-15.636462,-7.302456,-8.465490,11,43
AMZN,17.402300,242.385508,7.169030,13.171050,2.709005,-0.398647,-2.438424,10,82
AVGO,29.678328,192.376089,20.231226,29.334589,15.946556,8.878610,22.436574,10,48
BMY,46.115282,222.774265,13.434172,25.847930,29.852895,0.624626,-4.901496,18,54
CHTR,35.969377,276.665486,137.256788,40.030915,135.855632,21.052412,74.807741,12,49
CMCSA,8.024111,143.355056,9.174923,16.414089,7.084111,-16.392220,-25.712318,9,48
CME,10.577033,168.302776,3.924221,17.452856,3.241757,1.890607,8.599013,9,44
COST,7.010589,95.315193,8.563939,5.689873,7.010589,2.811133,-9.548306,8,35
CSX,4.861179,122.915992,-16.953640,21.596237,-19.246154,-31.455674,-36.728000,11,43
EA,22.484135,109.438526,6.637575,15.492482,9.407548,2.171256,-5.318893,7,41
GILD,46.150501,188.318045,33.009040,63.077536,32.029137,11.770805,5.284712,11,44
HD,21.007093,112.780436,5.841400,18.457726,5.216935,9.293674,3.924323,8,36
IBM,-5.046300,124.448673,-5.000535,-2.083812,-5.046300,-15.428004,-21.435863,12,45
INTU,10.362282,116.338420,-0.506485,4.188708,-1.442727,2.636414,-3.909810,9,39
KO,18.334012,212.498253,84.955355,36.883915,80.588254,9.750110,-11.968589,11,40
LIN,-4.990146,100.030358,-5.745394,12.540236,-8.093138,-11.957824,-9.842763,9,42
LMT,74.401315,261.165363,56.030172,57.153159,55.844842,44.067189,42.900040,10,51
MA,91.619754,211.465599,63.818149,35.308791,62.326497,57.827252,44.384145,8,44
MCD,1.097057,115.836423,-3.135662,5.942227,-4.353425,-9.695479,-8.683239,6,51
MDLZ,29.162206,123.410004,14.231792,3.707246,12.739094,-11.069734,-21.109722,11,38
MMM,25.246713,188.899635,34.782932,24.194296,33.529520,11.970575,17.751416,13,43
MO,3.708723,150.811139,-9.552572,9.133716,-3.289368,-23.064883,-22.142498,8,50
MRK,16.331056,180.284344,29.927684,25.226450,27.119056,-1.557601,-14.121271,15,49
MS,10.606768,131.774160,-11.434778,18.127561,-11.228528,-11.408717,-21.693035,8,39
MSFT,22.753592,239.415420,5.811994,-8.201693,3.431876,-0.612104,-18.887913,15,84
NKE,56.861048,182.681937,44.503656,45.031884,41.143929,20.450874,17.426744,6,38
PM,19.785006,169.442512,27.620006,26.538733,27.620006,-4.966354,-10.190879,10,46
TMO,21.686396,216.227527,14.255371,44.162529,13.692764,5.496206,26.543666,11,51
TSLA,5.648016,142.816813,-0.313217,-27.254163,-0.888901,-2.825915,-17.422096,10,71

In [682]:
stock_tp_data.loc[stock_tp_data.index.get_level_values(0) == 'AMGN']

                                 state_close_estimate  state_max_r  \
state_ticker bash_path
AMGN         stateoutput120.csv             23.451317    49.252260
             stateoutput150.csv             39.468575    81.291867
             stateoutput180.csv             -2.117927    14.941608
             stateoutput210.csv             -9.000000    12.679169
             stateoutput240.csv              9.437779    25.516933
             stateoutput270.csv             -3.642188    13.776901
             stateoutput60.csv               9.424121    25.733684
             stateoutput90.csv               5.099438    13.875450

                                 state_MA_r  state_RSI_r     last_r  \
state_ticker bash_path
AMGN         stateoutput120.csv   20.066773    21.327219  20.200701
             stateoutput150.csv   34.906407    30.189320  34.030450
             stateoutput180.csv   -1.540654    -2.117927  -2.117927
             stateoutput210.csv   -9.000000    -9.000000  -9.000000
             stateoutput240.csv    5.459255     3.627033   5.872520
             stateoutput270.csv   -3.428551    -3.642188  -3.642188
             stateoutput60.csv     7.717897     9.424121   9.424121
             stateoutput90.csv     2.240625     2.240625   2.240625

                                 estimate_with_thresh  estimate_with_thresh2  \
state_ticker bash_path
AMGN         stateoutput120.csv             17.638724              22.184575
             stateoutput150.csv             33.589601              37.060699
             stateoutput180.csv             -1.053457              -1.045769
             stateoutput210.csv             -9.000000              -2.641379
             stateoutput240.csv              8.380042              10.130760
             stateoutput270.csv             -3.821723              -2.366292
             stateoutput60.csv               8.947216              15.157700
             stateoutput90.csv               3.780432               5.475540

                                 win_count  loss_count
state_ticker bash_path
AMGN         stateoutput120.csv          3           6
             stateoutput150.csv          4           4
             stateoutput180.csv          2           7
             stateoutput210.csv          0           9
             stateoutput240.csv          2           5
             stateoutput270.csv          1           8
             stateoutput60.csv           3           2
             stateoutput90.csv           1           3

In [649]:
new_portfolio_list

array(['ADBE', 'ADP', 'AMD', 'AMGN', 'AMT', 'AMZN', 'AVGO', 'BMY', 'CHTR',
       'CMCSA', 'CME', 'COST', 'CSX', 'EA', 'GILD', 'HD', 'IBM', 'INTU',
       'KO', 'LIN', 'LMT', 'MA', 'MCD', 'MDLZ', 'MMM', 'MO', 'MRK', 'MS',
       'MSFT', 'NKE', 'PM', 'TMO', 'TSLA'], dtype=object)

In [705]:
spread_df = pd.read_csv('spread.csv')
spread_df.loc[spread_df.ticker.isin(new_portfolio_list)]
spread_df2 = pd.read_csv('spread2.csv')
spread_df['spred2'] = spread_df.ticker.apply(lambda x: spread_df2.spread.loc[spread_df2.ticker == x].iloc[0])
spread_df.head(50)

    Unnamed: 0 ticker  point  spread  deviation  spred2
0            0   AAPL   0.01       6          5       9
1            1   ABBV   0.01       7          5       7
2            2    ABT   0.01       7          5       7
3            3   ADBE   0.01      15          5      15
4            4    ADP   0.01      10          5      10
5            5    AMD   0.01      10          5      25
6            6   AMGN   0.01      11          5      11
7            7    AMT   0.01      10          5      10
8            8   AMZN   0.01       4          5       6
9            9   ATVI   0.01       7          5       7
10          10   AVGO   0.01      33          5      33
11          11   BABA   0.01      12          5      12
12          12    BAC   0.01       8          5       9
13          13     BA   0.01      24          5      46
14          14   BIIB   0.01      17          5      17
15          15    BMY   0.01       6          5       6
16          16   CHTR   0.01      19          5      19
17          17  CMCSA   0.01       5          5       5
18          18    CME   0.01      11          5      11
19          19   COST   0.01      19          5      19
20          20   CSCO   0.01       7          5       7
21          21    CSX   0.01       4          5       4
22          22    CVS   0.01       6          5       6
23          23      C   0.01      21          5      21
24          24   DE30   0.10      39          5      36
25          25     EA   0.01       7          5       7
26          26   EBAY   0.01       7          5       7
27          27   EQIX   0.01      39          5      39
28          28     FB   0.01       8          5      41
29          29      F   0.01      10          5      10
30          30   GILD   0.01       6          5       6
31          31  GOOGL   0.01       8          5       8
32          32     HD   0.01      10          5      10
33          33    IBM   0.01       7          5       7
34          34   INTC   0.01       7          5       7
35          35   INTU   0.01      25          5      25
36          36   ISRG   0.01      15          5      15
37          37    JNJ   0.01      10          5      10
38          38  JP225   0.10      90          5      89
39          39    JPM   0.01       8          5       8
40          40     KO   0.01       7          5       7
41          41    LIN   0.01      21          5      21
42          42    LLY   0.01      16          5      16
43          43    LMT   0.01      24          5      24
44          44     MA   0.01      16          5      16
45          45    MCD   0.01      11          5      11
46          46   MDLZ   0.01       7          5       7
47          47    MMM   0.01       6          5       6
48          48     MO   0.01       6          5       6
49          49    MRK   0.01       7          5       7

# Stock_tp_data

In [616]:
def get_stock_data(tp_data):
    tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 8 , 0.6) )
    tp_data['estimate_with_thresh2'] = tp_data.state_chain_new.apply(lambda x : x.max() * 0.75)
    tp_data['estimate_with_thresh2'].loc[tp_data['estimate_with_thresh2'] < 4] = -1
    tp_data.estimate_with_thresh2.loc[tp_data.estimate_with_thresh2 < 5] = -1
    stock_tp_data = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2']].groupby('state_ticker').sum()
    stock_tp_data['win_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2']].loc[tp_data.state_MA_r > 0].groupby('state_ticker').count().state_MA_r
    stock_tp_data['loss_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r' , 'estimate_with_thresh', 'estimate_with_thresh2']].loc[tp_data.state_MA_r < 0].groupby('state_ticker').count().state_MA_r
    stock_tp_data.win_count.fillna(0 , inplace = True)
    stock_tp_data['win_count'] = stock_tp_data['win_count'].astype(int) 

    return stock_tp_data

In [674]:
stock_tp_data = get_stock_data(concat_data)
stock_tp_data.sum()

state_close_estimate       157.072864
state_max_r              11269.896499
state_MA_r                -162.091560
state_RSI_r                 18.135929
last_r                    -235.822581
estimate_with_thresh      -222.719004
estimate_with_thresh2      232.272473
win_count                  712.000000
loss_count                4021.000000
dtype: float64

In [675]:
portfolio_list = stock_tp_data.loc[stock_tp_data.estimate_with_thresh > -10].index

In [615]:
path = '/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput150.csv'
tp_data = preprocess_tp_data(path)
#tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 15 , 0.6) )
stock_tp_data = get_stock_data(tp_data)
stock_tp_data.sum()

state_close_estimate      255.321413
state_max_r              2018.145404
state_MA_r                322.612335
state_RSI_r                 3.843986
last_r                    321.780874
estimate_with_thresh      152.794267
estimate_with_thresh2     274.091012
win_count                 103.000000
loss_count                579.000000
dtype: float64

In [529]:
def get_return_with_max_estimate(state_return_list, min_thresh = 5, cut_thresh = 0.7):
    c = np.array(state_return_list).copy()
    x_value = c[c > min_thresh]

    if len(x_value) > 0:
        x_value = x_value[0]
        x_index, = np.where(c == x_value)
        x = c[x_index[0]:]
        list_temp = [x[0] * cut_thresh]
        for i in range(1, len(x)):
            temp = x[0:i].max() * cut_thresh
            list_temp.append(temp)
        temp_df = pd.DataFrame()
        temp_df['a'] = x
        temp_df['b'] = list_temp
        # print(temp_df.iloc[50:])
        return temp_df.a.iloc[-1] if temp_df.loc[temp_df.a < temp_df.b].empty else  temp_df.loc[temp_df.a < temp_df.b].iloc[0].b
    else:
        lost_r = c[-1] if c[-1] > 0 else -1
        return lost_r

In [531]:
path = '/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput240.csv'
tp_data = preprocess_tp_data(path)

tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 8 , 0.6) )
a = tp_data.loc[(tp_data.estimate_with_thresh > 8)].iloc[0]
a.state_chain_new , a.estimate_with_thresh , a.state_chain_new.max() * 0.6

(array([ 1.49019608,  1.92156863,  1.25490196,  1.60784314,  1.29411765,
         1.09803922,  0.66666667,  0.54901961,  0.15686275,  0.35294118,
         0.62745098,  0.31372549,  0.78431373,  0.74509804,  1.33333333,
         1.56862745,  1.52941176,  1.76470588,  1.01960784,  1.33333333,
         1.64705882,  1.29411765,  0.94117647,  1.09803922,  0.70588235,
         0.74509804,  0.43137255,  0.2745098 ,  0.70588235,  0.43137255,
         0.43137255,  0.70588235,  0.78431373,  1.37254902,  1.84313725,
         1.68627451,  1.37254902,  1.49019608,  2.15686275,  2.74509804,
         3.05882353,  2.98039216,  2.94117647,  2.58823529,  2.62745098,
         2.58823529,  2.74509804,  2.35294118,  2.23529412,  2.35294118,
         2.35294118,  2.39215686,  2.70588235,  2.70588235,  2.78431373,
         2.15686275,  2.15686275,  2.62745098,  2.58823529,  2.35294118,
         2.19607843,  2.11764706,  2.35294118,  2.54901961,  2.07843137,
         2.35294118,  2.8627451 ,  2.54901961,  2.50980392,  2.82352941,
         2.74509804,  5.76470588,  5.68627451,  5.7254902 ,  4.98039216,
         4.19607843,  4.94117647,  5.21568627,  5.60784314,  5.76470588,
         5.80392157,  6.07843137,  6.66666667,  6.23529412,  6.43137255,
         6.58823529,  6.58823529,  7.05882353,  7.01960784,  6.78431373,
         6.94117647,  6.8627451 ,  7.09803922,  7.49019608,  6.74509804,
         7.17647059,  7.29411765,  7.33333333,  7.25490196,  7.33333333,
         7.25490196,  7.37254902,  7.41176471,  7.37254902,  7.37254902,
         7.52941176,  7.49019608,  7.45098039,  7.60784314,  7.64705882,
         7.84313725,  7.80392157,  7.92156863,  8.03921569,  8.03921569,
         8.03921569,  8.07843137,  7.88235294,  7.84313725,  8.11764706,
         8.39215686,  8.19607843,  8.03921569,  7.84313725,  8.66666667,
         8.8627451 ,  8.54901961,  8.66666667,  8.78431373,  8.94117647,
         9.1372549 ,  9.56862745,  9.45098039,  9.52941176,  9.88235294,
         9.7254902 ,  9.68627451,  9.64705882,  9.56862745,  9.7254902 ,
         9.64705882,  9.68627451,  9.7254902 ,  9.64705882, 10.50980392,
        12.15686275, 11.68627451, 11.29411765, 11.1372549 , 11.7254902 ,
        11.96078431, 13.17647059, 13.25490196, 12.94117647, 13.33333333,
        13.21568627, 13.49019608, 13.68627451, 13.88235294, 13.60784314,
        13.80392157, 13.96078431, 14.47058824, 14.98039216, 14.70588235,
        15.17647059, 15.29411765, 15.33333333, 14.98039216, 15.49019608,
        14.90196078, 14.31372549, 14.43137255, 14.43137255, 14.66666667,
        14.98039216, 15.1372549 , 15.29411765, 15.49019608, 15.41176471,
        15.64705882, 16.        , 15.96078431, 16.07843137, 15.80392157,
        15.84313725, 15.7254902 , 15.21568627, 15.37254902, 15.29411765,
        14.70588235, 14.78431373, 14.8627451 , 14.8627451 , 14.70588235,
        14.54901961, 14.78431373, 15.29411765, 15.37254902, 15.33333333,
        15.1372549 , 15.29411765, 15.33333333, 15.1372549 , 15.17647059,
        14.98039216, 15.17647059, 15.21568627, 15.17647059, 15.33333333,
        15.49019608, 15.1372549 , 14.98039216, 14.43137255, 14.23529412,
        14.23529412, 13.88235294, 17.05882353, 16.50980392, 16.90196078,
        17.37254902, 17.09803922, 16.35294118, 17.05882353, 16.50980392,
        16.47058824, 16.19607843, 16.23529412, 16.54901961, 16.62745098,
        16.31372549, 16.2745098 , 16.82352941, 16.31372549, 16.54901961,
        17.05882353, 17.21568627, 16.66666667, 16.70588235, 16.62745098,
        16.47058824, 16.50980392, 16.07843137, 15.64705882, 15.92156863,
        15.80392157, 15.76470588, 16.        , 16.15686275, 16.39215686,
        16.31372549, 16.2745098 , 16.43137255, 16.43137255, 16.50980392,
        16.50980392, 16.47058824, 16.47058824, 16.62745098, 16.39215686,
        16.35294118, 16.39215686, 16.11764706, 16.31372549, 16.39215686,
        16.43137255, 16.66666667, 17.01960784, 16.94117647, 16.78431373,
        16.70588235, 16.43137255, 16.58823529, 16.70588235, 16.62745098,
        16.94117647, 17.09803922, 17.09803922, 17.09803922, 16.90196078,
        17.01960784, 17.05882353, 17.05882353, 16.82352941, 16.94117647,
        16.74509804, 16.66666667, 17.52941176, 17.33333333, 17.76470588,
        16.98039216, 16.43137255, 16.58823529, 16.11764706, 16.98039216,
        17.01960784, 16.74509804, 17.01960784, 16.54901961, 16.35294118,
        16.15686275, 16.03921569, 15.76470588, 15.88235294, 15.84313725,
        15.84313725, 15.68627451, 15.60784314, 15.76470588, 15.7254902 ,
        15.80392157, 15.80392157, 16.19607843, 16.        , 16.        ,
        15.88235294, 15.7254902 , 15.88235294, 16.11764706, 16.07843137,
        16.74509804, 16.66666667, 16.66666667, 16.70588235, 16.47058824,
        16.58823529, 16.78431373, 16.82352941, 16.78431373, 16.8627451 ,
        17.05882353, 17.21568627, 17.56862745, 17.64705882, 17.76470588,
        17.7254902 , 17.29411765, 17.21568627, 17.33333333, 16.78431373,
        16.47058824, 16.50980392, 16.47058824, 16.23529412, 15.92156863,
        16.19607843, 16.07843137, 16.03921569, 16.31372549, 16.15686275,
        16.35294118, 16.50980392, 16.66666667, 16.82352941, 16.78431373,
        16.82352941, 17.80392157, 18.31372549, 18.66666667, 18.94117647,
        19.25490196, 19.76470588, 20.11764706, 20.90196078, 21.17647059,
        19.7254902 , 19.84313725, 20.50980392, 21.09803922, 21.64705882,
        21.80392157, 21.25490196, 21.33333333, 21.37254902, 21.29411765,
        21.1372549 , 20.70588235, 20.90196078, 20.70588235, 20.50980392,
        20.70588235, 20.82352941, 20.94117647, 21.33333333, 20.94117647,
        20.74509804, 20.90196078, 20.74509804, 20.39215686, 20.23529412,
        20.2745098 , 20.07843137, 19.92156863, 20.07843137, 20.03921569,
        20.11764706, 19.80392157, 19.76470588, 19.88235294, 20.03921569,
        19.68627451, 19.92156863, 19.68627451, 19.45098039, 19.25490196,
        19.52941176, 19.56862745, 19.56862745, 19.7254902 , 19.84313725,
        19.64705882, 19.49019608, 19.56862745, 19.56862745, 19.45098039,
        19.56862745, 19.45098039, 19.41176471, 19.68627451, 19.60784314,
        19.60784314, 19.76470588, 19.68627451, 19.64705882, 19.60784314,
        19.52941176, 19.52941176, 19.1372549 , 19.25490196, 19.29411765,
        19.17647059, 18.74509804, 19.1372549 , 19.05882353, 18.82352941,
        19.1372549 , 19.68627451, 20.07843137, 20.2745098 , 20.62745098,
        20.78431373, 21.09803922, 20.70588235, 21.33333333, 20.90196078,
        21.37254902, 21.33333333, 21.1372549 , 21.09803922, 20.90196078,
        20.8627451 , 20.98039216, 21.29411765, 21.33333333, 21.80392157,
        21.33333333, 21.05882353, 19.68627451, 19.56862745, 19.41176471,
        19.09803922, 19.25490196, 19.05882353, 18.82352941, 18.50980392,
        19.01960784, 18.90196078, 18.70588235, 18.78431373, 19.05882353,
        18.74509804, 18.74509804, 18.70588235, 18.74509804, 18.58823529,
        18.70588235, 18.43137255, 18.03921569, 17.84313725, 17.84313725,
        18.11764706, 18.15686275, 18.        , 17.96078431, 18.11764706,
        18.35294118, 18.35294118, 18.39215686, 18.31372549, 18.03921569,
        17.7254902 , 17.49019608, 17.41176471, 17.68627451, 17.56862745,
        17.05882353, 16.98039216, 17.1372549 , 16.94117647, 17.09803922,
        16.58823529, 16.66666667, 16.82352941, 16.94117647, 17.1372549 ,
        16.94117647, 16.62745098, 17.60784314, 17.29411765, 17.68627451,
        16.8627451 , 17.60784314, 17.17647059, 16.74509804, 16.35294118,
        16.35294118, 16.82352941, 16.15686275, 16.39215686, 16.07843137,
        16.2745098 , 16.43137255, 16.58823529, 16.98039216, 16.90196078,
        16.94117647, 17.21568627, 17.09803922, 17.1372549 , 16.98039216,
        17.17647059, 17.41176471, 17.80392157, 17.60784314, 17.76470588,
        17.84313725, 17.7254902 , 18.        , 18.        , 17.41176471,
        16.98039216, 16.70588235, 16.8627451 , 17.45098039, 17.96078431,
        18.03921569, 18.07843137, 17.92156863, 18.23529412, 18.19607843,
        18.90196078, 18.31372549, 17.96078431, 18.19607843, 18.47058824,
        18.31372549, 18.62745098, 18.8627451 , 18.90196078, 18.98039216,
        19.29411765, 19.7254902 , 19.49019608, 19.56862745, 19.41176471,
        19.29411765, 19.41176471, 19.1372549 , 18.98039216, 18.8627451 ,
        18.66666667, 18.62745098, 18.66666667, 18.47058824, 18.39215686,
        18.19607843, 18.19607843, 18.2745098 , 18.62745098, 18.        ,
        17.7254902 , 17.96078431, 14.62745098]),
 14.627450980392553,
 13.082352941176817)

In [249]:
#tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new.csv')
def get_return_with_max_estimate(state_return_list, min_thresh = 12, cut_thresh = 0.66):
    c = np.array(state_return_list)
    x = c[c > min_thresh]
    if len(x) > 0:
        list_temp = [x[0]]
        for i in range(1, len(x)):
            temp = x[0:i].max() * cut_thresh
            list_temp.append(temp)
        temp_df = pd.DataFrame()
        temp_df['a'] = x
        temp_df['b'] = list_temp
        return temp_df.a.iloc[-1] if temp_df.loc[temp_df.a < temp_df.b].empty else  temp_df.loc[temp_df.a < temp_df.b].iloc[0].a
    else:
        lost_r = c[-1] if c[-1] > 0 else -1
        return lost_r

tp_data['new_estimate'] = tp_data.state_chain.apply(lambda x: get_return_with_max_estimate(x, 12, 0.66))
tp_data.new_estimate.sum()

86.98738404481048

In [152]:
tp_data.state_close_estimate.sum()

39.52315681719646

In [214]:
spread_df = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread.csv')

In [212]:
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput90.csv')

In [224]:
spread_df = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread.csv')
tp_data['spread'] = tp_data.state_ticker.apply(lambda x: spread_df.spread.loc[spread_df.ticker == x].iloc[0])
tp_data['deviation'] = tp_data.state_ticker.apply(lambda x: spread_df.deviation.loc[spread_df.ticker == x].iloc[0])
tp_data['point'] = tp_data.state_ticker.apply(lambda x: spread_df.point.loc[spread_df.ticker == x].iloc[0])
tp_data['sum_gap'] = ((tp_data['spread'] + tp_data['deviation']) * tp_data['point']) / abs(tp_data['state_open'] - tp_data['state_stop_loss'] ) + 1
tp_data['state_chain_new'] = [np.array(y) / x for x,y in tp_data[['sum_gap' , 'state_chain']].to_numpy()]

In [244]:
x = tp_data.state_chain.iloc[0][0]

tp_data.loc[(tp_data.state_chain[0] == 1)]

KeyError: 'False: boolean label can not be used without a boolean index'

In [247]:
tp_data['state_chain_new'] = [np.array(y) / x for x,y in tp_data[['sum_gap' , 'state_chain']].to_numpy()]

In [250]:
tp_data.state_close_estimate.sum()

46.89175083298029

In [248]:
tp_data

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain,spread,deviation,point,sum_gap,state_chain_new
0,MRK,1,2022-11-09 14:55:00,2022-11-09 19:50:00,102.024,101.814,0.885714,7.504762,0.885714,0.885714,0.885714,"[1.5999999999999324, 3.1238095238094337, 3.552...",7,5,0.01,1.571429,"[1.0181818181817892, 1.9878787878787578, 2.260..."
1,MRK,1,2022-11-16 14:55:00,2022-11-16 15:00:00,99.946,99.656,-1.000000,-0.572414,-1.000000,-1.000000,-1.000000,"[-0.572413793103425, -0.882758620689637]",7,5,0.01,1.413793,"[-0.4048780487804681, -0.6243902439024211]"
2,MRK,2,2022-11-16 19:35:00,2022-11-16 19:55:00,99.898,100.028,-1.000000,0.984615,-1.000000,-1.000000,-1.000000,"[0.9846153846153123, 0.75384615384609, 0.52307...",7,5,0.01,1.923077,"[0.5119999999999807, 0.39199999999998075, 0.27..."
3,MRK,1,2022-11-25 15:30:00,2022-11-25 15:40:00,107.268,107.076,-1.000000,-0.458333,-1.000000,-1.000000,-1.000000,"[-0.770833333333284, -0.45833333333328397, -0....",7,5,0.01,1.625000,"[-0.4743589743589509, -0.2820512820512558, -0...."
4,MRK,1,2022-11-29 18:25:00,2022-11-29 18:55:00,108.816,108.592,-1.000000,0.241071,-1.000000,-1.000000,-1.000000,"[0.10714285714285941, -0.42857142857143765, -0...",7,5,0.01,1.535714,"[0.069767441860467, -0.279069767441868, -0.046..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,NFLX,2,2022-11-29 15:30:00,2022-11-30 11:15:00,281.168,283.248,-1.000000,2.354808,-1.000000,-1.000000,-1.000000,"[0.14326923076923273, 0.3596153846153828, 0.29...",24,5,0.01,1.139423,"[0.12573839662447417, 0.31561181434598967, 0.2..."
376,NFLX,1,2022-11-30 14:35:00,2022-11-30 14:40:00,283.605,281.780,-1.000000,-0.523288,-1.000000,-1.000000,-1.000000,"[-0.5232876712329024, -0.9178082191780942]",24,5,0.01,1.158904,"[-0.4515366430260266, -0.791962174940908]"
377,NFLX,1,2022-12-01 20:15:00,2022-12-01 20:20:00,318.462,317.632,-1.000000,-0.592771,-1.000000,-1.000000,-1.000000,"[-0.677108433734967, -0.5927710843373147]",24,5,0.01,1.349398,"[-0.501785714285732, -0.43928571428568647]"
378,NFLX,1,2022-12-02 20:25:00,2022-12-02 20:35:00,320.746,320.056,-1.000000,0.223188,-1.000000,-1.000000,-1.000000,"[0.22318840579701454, -0.09565217391308861, -0...",24,5,0.01,1.420290,"[0.1571428571427958, -0.06734693877554192, -0...."
379,NFLX,2,2022-12-05 15:15:00,2022-12-05 15:20:00,316.514,318.154,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,"[-1.1195121951219296, -1.3268292682926406]",24,5,0.01,1.176829,"[-0.9512953367875502, -1.1274611398963417]"

In [157]:
path =  '/Users/tranthong/Desktop/stock-app/stock_data_M5/'
def get_mt5_raw_data_range(ticker, start, end):
    stock_dir = path + ticker +'_2022.csv'
    rates =  pd.read_csv(stock_dir, index_col =[0])
    rates['index'] = rates['index'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
    a = rates.loc[ (rates['index'] > start) & (rates['index'] < end )]
    a.reset_index(inplace = True ,drop = True)
    a['day_num'] = a.index
    return a

start = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_day_start.iloc[0]
end = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_day_end.iloc[0]
ticker = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_ticker.iloc[0]
open = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_open.iloc[0]
stoploss = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_stop_loss.iloc[0]
r = abs(open -stoploss)
data =  get_mt5_raw_data_range(ticker, start, end)

In [158]:
(data.Close - open) / r

0       0.292308
1       0.523077
2      -0.015385
3       0.446154
4       0.984615
         ...
297    18.215385
298    18.215385
299    18.215385
300    18.061538
301    17.138462
Name: Close, Length: 302, dtype: float64