In [1]:
import pandas as pd
import numpy as np
import warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
import matplotlib
matplotlib.__version__

ModuleNotFoundError: No module named 'matplotlib'

In [86]:
tp_data = pd.read_csv('/Users/tranthong/Desktop/stock-app/state_output/state_output/state_output60.csv')
tp_data.head(5)

# tp_data['test_state_chain'] = tp_data.state_chain.apply(lambda x: len(x))
# tp_data

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,MRK,2,1.670342e+09,1.670424e+09,109.218,109.448,NaN,4.121739,-0.704348,3.078261,-0.704348,"[-0.29565217391302895, -0.9913043478261073, -1..."
1,MRK,1,1.670597e+09,1.670598e+09,110.684,110.374,NaN,0.051613,NaN,NaN,-1.000000,NaN
2,MRK,1,1.670602e+09,1.670605e+09,109.916,109.576,NaN,0.305882,NaN,NaN,-1.000000,NaN
3,MRK,1,1.670613e+09,1.670618e+09,109.149,108.764,NaN,0.392208,NaN,NaN,-0.802597,NaN
4,MRK,2,1.670873e+09,1.670873e+09,108.062,108.182,NaN,-0.400000,NaN,NaN,-1.000000,"[0.4, 1.2333333333332543]"

In [91]:
tp_data =[]
print(len(tp_data))

0

In [75]:
def preprocess_tp_data(path):
  tp_data = pd.read_csv(path)
  tp_data.drop_duplicates(inplace = True)
  tp_data.last_r.loc[tp_data.last_r < 0] = -1
  tp_data.state_close_estimate.fillna(tp_data.last_r , inplace = True)
  tp_data.state_max_r.fillna(tp_data.last_r , inplace = True)
  tp_data.state_MA_r.fillna(tp_data.last_r, inplace = True)
  tp_data.state_RSI_r.fillna(tp_data.last_r, inplace = True)
  tp_data.state_MA_r.loc[tp_data.state_MA_r < -1] = -1
  tp_data.state_max_r.loc[tp_data.state_max_r < -1] = -1
  tp_data.state_chain.loc[~tp_data.state_chain.isna()] = tp_data.state_chain.loc[~tp_data.state_chain.isna()].apply(lambda x:str(x).strip('][').split(', '))
  tp_data.state_chain.loc[~tp_data.state_chain.isna()] = tp_data.state_chain.loc[~tp_data.state_chain.isna()].apply(lambda x :[0 - float(element) for element in x])
  return tp_data
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output/state_output/state_output150.csv')

tp_data[['state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].describe()

       state_close_estimate  state_max_r  state_MA_r  state_RSI_r      last_r
count            528.000000   528.000000  528.000000   528.000000  528.000000
mean               0.671507     2.973849    0.561690     0.076730    0.554948
std                7.564525     8.773564    7.477663     3.814326    7.482398
min               -1.000000    -1.000000   -1.000000    -1.000000   -1.000000
25%               -1.000000    -0.041964   -1.000000    -1.000000   -1.000000
50%               -1.000000     0.600000   -1.000000    -1.000000   -1.000000
75%               -1.000000     2.533498   -1.000000    -1.000000   -1.000000
max               83.483268    91.003226   83.483268    59.266667   83.483268

In [101]:
tp_data.head(5)

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,MRK,2,1.662560e+09,1.662561e+09,86.386,86.671,-1.000,-0.119298,-1.0,-1.000000,-1.0,"[-0.11929824561405766, -0.4701754385964981, -0..."
1,MRK,2,1.662646e+09,1.662647e+09,86.508,86.838,-1.000,0.296970,-1.0,-1.000000,-1.0,"[0.2969696969696954, 0.11515151515150576, -0.7..."
2,MRK,2,1.663012e+09,1.663163e+09,87.692,87.812,8.536,17.266667,3.1,8.016667,3.1,"[0.09999999999989342, 8.016666666667222, 7.100..."
3,MRK,2,1.663250e+09,1.663252e+09,86.412,86.632,-1.000,0.509091,-1.0,-1.000000,-1.0,"[0.5090909090909526, 0.5090909090909526, 0.327..."
4,MRK,1,1.663338e+09,1.663339e+09,87.218,86.998,-1.000,-0.218182,-1.0,-1.000000,-1.0,NaN

In [76]:
tp_data[['state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].sum()

state_close_estimate     354.555719
state_max_r             1570.192064
state_MA_r               296.572213
state_RSI_r               40.513415
last_r                   293.012317
dtype: float64

In [82]:
a = '2022-08-11 16:50:00'
datetime.strptime(a, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2022, 8, 11, 16, 50)

In [42]:
import glob , os
concat_data = pd.DataFrame()
for path in glob.glob("/Users/tranthong/Desktop/stock-app/state_output/state_output/*.csv"):
    tp_data = preprocess_tp_data(path)
    concat_data = pd.concat([tp_data, concat_data])
concat_data.reset_index(inplace=True)
concat_data.head(5)

,index,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,0,MRK,2,1.662560e+09,1.662561e+09,86.386,86.671,-1.000,-0.119298,-1.0,-1.000000,-1.0,"[0.11929824561405766, 0.4701754385964981, 0.82..."
1,1,MRK,2,1.662646e+09,1.662647e+09,86.508,86.838,-1.000,0.296970,-1.0,-1.000000,-1.0,"[-0.2969696969696954, -0.11515151515150576, 0...."
2,2,MRK,2,1.663012e+09,1.663163e+09,87.692,87.812,8.536,17.266667,3.1,8.016667,3.1,"[-0.09999999999989342, -8.016666666667222, -7...."
3,3,MRK,2,1.663250e+09,1.663252e+09,86.412,86.632,-1.000,0.509091,-1.0,-1.000000,-1.0,"[-0.5090909090909526, -0.5090909090909526, -0...."
4,4,MRK,1,1.663338e+09,1.663339e+09,87.218,86.998,-1.000,-0.218182,-1.0,-1.000000,-1.0,NaN

In [62]:
test2 = concat_data.loc[(concat_data.state_chain.isna()) & (concat_data.state_close_estimate > 1)].iloc[4]
get_mt5_raw_data_range(test2.state_ticker, datetime.fromtimestamp(test2.state_day_start), datetime.fromtimestamp(test2.state_day_end))

,index,Open,High,Low,Close,Volume,spread,real_volume,day_num,ticker
0,2022-09-09 13:40:00,733.24,746.60,733.24,745.78,271,82,0,0,REGN
1,2022-09-09 13:45:00,746.37,748.67,741.76,745.08,246,100,0,1,REGN
2,2022-09-09 13:50:00,745.19,748.73,743.65,745.84,218,92,0,2,REGN
3,2022-09-09 13:55:00,745.85,753.74,745.77,751.56,284,85,0,3,REGN
4,2022-09-09 14:00:00,751.56,751.56,742.95,743.44,180,83,0,4,REGN
...,...,...,...,...,...,...,...,...,...,...
68,2022-09-09 19:20:00,722.40,723.27,721.42,723.06,114,45,0,68,REGN
69,2022-09-09 19:25:00,723.06,723.28,722.03,722.18,135,45,0,69,REGN
70,2022-09-09 19:30:00,722.18,722.55,721.28,721.35,70,43,0,70,REGN
71,2022-09-09 19:35:00,721.39,721.44,718.17,719.09,109,40,0,71,REGN
72,2022-09-09 19:40:00,719.11,722.12,719.11,722.12,110,40,0,72,REGN

In [50]:
from datetime import datetime
datetime.fromtimestamp(concat_data.loc[(concat_data.state_chain.isna()) ].iloc[1].state_day_start)

datetime.datetime(2022, 9, 17, 2, 10)

In [46]:
concat_data.loc[(concat_data.state_chain.isna()) ].iloc[0].state_day_start

1663338000.0

In [34]:
total_state = len(concat_data)
profit_state = len(concat_data.loc[concat_data.state_close_estimate > 0]) 
loss_state = total_state -  profit_state

total_profit = concat_data.state_close_estimate.sum()
total_win_profit = concat_data.state_close_estimate.loc[concat_data.state_close_estimate > 0].sum()
total_loss_profit = concat_data.state_close_estimate.loc[concat_data.state_close_estimate < 0].sum()
print(total_state , loss_state , profit_state , profit_state/total_state)
print(total_profit,total_loss_profit,total_win_profit)

1046 886 160 0.15296367112810708
325.74728183040054 -885.0 1210.7472818304004

In [35]:
concat_chain_data = concat_data.loc[(concat_data.state_chain.notna())]
concat_chain_data.state_close_estimate.loc[concat_chain_data.state_close_estimate>0].sum()

649.9320075821444

In [30]:
import datetime
from datetime import datetime
test = concat_data.loc[(concat_data.state_chain.isna()) & (concat_data.state_close_estimate > 0)]
test['a'] =  test.state_day_start.apply(lambda x:datetime.fromtimestamp(x) ) 
test['b'] =  test.state_day_end.apply(lambda x:datetime.fromtimestamp(x) ) 
test

,index,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain,a,b
9,9,GILD,1,1.662731e+09,1.663076e+09,65.018,64.798,9.816000,14.872727,4.918182,11.645455,4.918182,NaN,2022-09-09 20:50:00,2022-09-13 20:40:00
11,11,PYPL,1,1.662559e+09,1.662736e+09,92.366,91.826,6.507407,9.451852,6.507407,5.729630,6.507407,NaN,2022-09-07 21:00:00,2022-09-09 22:10:00
30,30,PFE,1,1.662646e+09,1.663073e+09,46.234,46.024,4.504762,9.600000,4.504762,4.504762,4.504762,NaN,2022-09-08 21:00:00,2022-09-13 19:45:00
39,39,MMM,1,1.662644e+09,1.662653e+09,117.694,117.084,0.780328,2.862295,0.698361,0.780328,0.780328,NaN,2022-09-08 20:40:00,2022-09-08 23:05:00
55,55,TMO,1,1.662573e+09,1.662644e+09,551.756,551.116,2.756250,3.084375,2.756250,2.756250,2.756250,NaN,2022-09-08 00:45:00,2022-09-08 20:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,144,ADP,1,1.668537e+09,1.668696e+09,249.392,248.462,2.363441,6.954839,0.406452,2.363441,2.363441,NaN,2022-11-16 01:25:00,2022-11-17 21:40:00
638,147,BMY,1,1.667832e+09,1.668026e+09,78.821,78.606,5.065116,10.506977,5.065116,1.995349,5.065116,NaN,2022-11-07 21:45:00,2022-11-10 03:35:00
639,148,BMY,1,1.668091e+09,1.668094e+09,79.483,79.288,1.369231,4.907692,2.651282,1.369231,1.369231,NaN,2022-11-10 21:40:00,2022-11-10 22:35:00
641,150,BMY,1,1.668786e+09,1.669733e+09,77.198,76.903,3.972881,8.142373,3.972881,3.227119,3.972881,NaN,2022-11-18 22:35:00,2022-11-29 21:50:00
642,151,BMY,1,1.669750e+09,1.669820e+09,78.918,78.798,0.016667,3.600000,0.016667,0.016667,0.016667,NaN,2022-11-30 02:25:00,2022-11-30 21:55:00

In [32]:
test['a2'] = test.a.apply(lambda x : x.timestamp())
#test.loc[test.a2 == test.state_day_start]
test['a2_1'] = test['a2'].apply(lambda x:datetime.fromtimestamp(x) )
test

,index,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain,a,b,a2,a2_1
9,9,GILD,1,1.662731e+09,1.663076e+09,65.018,64.798,9.816000,14.872727,4.918182,11.645455,4.918182,NaN,2022-09-09 20:50:00,2022-09-13 20:40:00,1.662757e+09,2022-09-10 03:50:00
11,11,PYPL,1,1.662559e+09,1.662736e+09,92.366,91.826,6.507407,9.451852,6.507407,5.729630,6.507407,NaN,2022-09-07 21:00:00,2022-09-09 22:10:00,1.662584e+09,2022-09-08 04:00:00
30,30,PFE,1,1.662646e+09,1.663073e+09,46.234,46.024,4.504762,9.600000,4.504762,4.504762,4.504762,NaN,2022-09-08 21:00:00,2022-09-13 19:45:00,1.662671e+09,2022-09-09 04:00:00
39,39,MMM,1,1.662644e+09,1.662653e+09,117.694,117.084,0.780328,2.862295,0.698361,0.780328,0.780328,NaN,2022-09-08 20:40:00,2022-09-08 23:05:00,1.662670e+09,2022-09-09 03:40:00
55,55,TMO,1,1.662573e+09,1.662644e+09,551.756,551.116,2.756250,3.084375,2.756250,2.756250,2.756250,NaN,2022-09-08 00:45:00,2022-09-08 20:40:00,1.662598e+09,2022-09-08 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,144,ADP,1,1.668537e+09,1.668696e+09,249.392,248.462,2.363441,6.954839,0.406452,2.363441,2.363441,NaN,2022-11-16 01:25:00,2022-11-17 21:40:00,1.668562e+09,2022-11-16 08:25:00
638,147,BMY,1,1.667832e+09,1.668026e+09,78.821,78.606,5.065116,10.506977,5.065116,1.995349,5.065116,NaN,2022-11-07 21:45:00,2022-11-10 03:35:00,1.667858e+09,2022-11-08 04:45:00
639,148,BMY,1,1.668091e+09,1.668094e+09,79.483,79.288,1.369231,4.907692,2.651282,1.369231,1.369231,NaN,2022-11-10 21:40:00,2022-11-10 22:35:00,1.668116e+09,2022-11-11 04:40:00
641,150,BMY,1,1.668786e+09,1.669733e+09,77.198,76.903,3.972881,8.142373,3.972881,3.227119,3.972881,NaN,2022-11-18 22:35:00,2022-11-29 21:50:00,1.668811e+09,2022-11-19 05:35:00
642,151,BMY,1,1.669750e+09,1.669820e+09,78.918,78.798,0.016667,3.600000,0.016667,0.016667,0.016667,NaN,2022-11-30 02:25:00,2022-11-30 21:55:00,1.669775e+09,2022-11-30 09:25:00

In [56]:
test = concat_data.loc[(concat_data.state_chain.notna()) & (concat_data.state_close_estimate > 0)]
test['a'] =  test.state_day_start.apply(lambda x:datetime.fromtimestamp(x) ) 
test['b'] =  test.state_day_end.apply(lambda x:datetime.fromtimestamp(x) ) 
def get_mt5_raw_data_range(ticker, start, end):
    stock_dir = '/Users/tranthong/Desktop/stock-app/stock_data_M5/'+ ticker +'_2022.csv'
    rates =  pd.read_csv(stock_dir, index_col =[0])
    rates['index'] = rates['index'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
    a = rates.loc[ (rates['index'] > start) & (rates['index'] < end )]
    a.reset_index(inplace = True ,drop = True)
    a['day_num'] = a.index
    return a

row = test.iloc[1]
test_data = get_mt5_raw_data_range(row.state_ticker, row.a, row.b)
test_data['test'] = ( test_data.Close - row.state_open) / abs(row.state_open - row.state_stop_loss) if row.state_order == 1 else (- test_data.Close + row.state_open) / abs(row.state_open - row.state_stop_loss)
test_data.test , row.state_chain

(0      0.447222
 1      0.308333
 2      0.100000
 3      0.141667
 4      0.183333
          ...
 229    2.461111
 230    2.433333
 231    2.641667
 232    2.586111
 233    2.877778
 Name: test, Length: 234, dtype: float64,
 '[0.28888888888888714, 0.03888888888887727, -0.10000000000000395, -0.08611111111112767, 0.0944444444444416, 0.0944444444444416, -0.4055555555555584, -0.39166666666668215, -0.7111111111111326, -0.7527777777777812, -0.5305555555555633, -0.46111111111112274, -1.1694444444444643, -1.0305555555555634, -0.6972222222222366, -0.8083333333333454, -0.46111111111112274, -0.6694444444444643, -0.9055555555555781, -0.3500000000000138, -0.6833333333333406, -0.5722222222222316, -0.8777777777777861, -0.5583333333333553, -0.6555555555555683, -0.7388888888889049, -0.3222222222222415, 0.14999999999998617, 0.511111111111105, 0.4277777777777684, 0.372222222222204, 0.372222222222204, 0.03888888888887727, -0.3083333333333455, -0.5722222222222316, -0.2805555555555732, 0.01111111111110497, 0.0944444444444416, 0.08055555555554558, -0.15555555555556827, -0.2111111111111326, -0.5027777777777911, -0.6555555555555683, -0.8222222222222415, -0.6555555555555683, -0.7111111111111326, -0.8916666666666822, -0.8500000000000139, -0.7111111111111326, -0.8222222222222415, -1.127777777777796, -1.2805555555555732, -1.5305555555555634, -2.002777777777791, -2.1555555555555683, -1.8777777777777862, -1.9194444444444545, -2.280555555555573, -2.1833333333333407, -1.6972222222222366, -2.1138888888889, -1.8916666666666822, -2.1416666666666724, -2.1555555555555683, -2.391666666666682, -2.488888888888895, -2.1000000000000236, -2.1000000000000236, -1.725000000000009, -1.6000000000000236, -1.5722222222222317, -1.7111111111111326, -1.3638888888889098, -1.225000000000009, -1.3500000000000139, -0.44722222222222674, -0.3083333333333455, -0.10000000000000395, -0.14166666666667227, -0.18333333333334056, -0.05833333333333564, -0.10000000000000395, -0.2111111111111326, -0.2805555555555732, -0.25277777777778115, -0.3500000000000138, -0.6555555555555683, -0.9472222222222267, -0.9611111111111227, -0.988888888888895, -0.7527777777777812, -0.7527777777777812, -0.5722222222222316, -0.7805555555555732, -0.5861111111111277, -0.6416666666666723, -0.9055555555555781, -0.9472222222222267, -0.6833333333333406, -0.5861111111111277, -0.6138888888888999, -0.600000000000004, -0.5722222222222316, -0.46111111111112274, -0.03055555555556334, -1.4750000000000187, -1.4611111111111228, -0.14166666666667227, -1.0861111111111277, -1.127777777777796, -0.6833333333333406, -1.2666666666666773, -1.6000000000000236, -1.405555555555578, -1.3638888888889098, -1.5861111111111277, -2.2666666666666773, -1.6694444444444643, -1.9611111111111228, -2.002777777777791, -1.988888888888895, -1.6138888888889, -1.738888888888905, -1.9472222222222464, -1.7527777777778009, -1.6138888888889, -1.6833333333333407, -1.4750000000000187, -1.336111111111118, -0.600000000000004, -0.47500000000001874, -0.7666666666666772, -0.8083333333333454, -0.7388888888889049, -0.5583333333333553, -0.43333333333335045, -0.10000000000000395, -0.1694444444444643, -0.41944444444445445, -0.44722222222222674, -0.600000000000004, -0.8500000000000139, -1.238888888888905, -1.5722222222222317, -1.6138888888889, -1.7944444444444494, -1.9333333333333504, -2.2666666666666773, -2.350000000000014, -2.0583333333333553, -2.1555555555555683, -2.336111111111118, -2.3222222222222415, -2.238888888888905, -1.9333333333333504, -1.8638888888889098, -1.8222222222222415, -2.0444444444444594, -2.1416666666666724, -2.252777777777801, -2.1000000000000236, -2.1555555555555683, -2.3222222222222415, -2.294444444444469, -1.8916666666666822, -2.1416666666666724, -2.7111111111111326, -2.9750000000000187, -3.1000000000000236, -2.9472222222222464, -3.141666666666692, -3.36388888888891, -3.002777777777791, -2.961111111111123, -3.0444444444444594, -2.9888888888889147, -2.9888888888889147, -2.780555555555573, -2.9888888888889147, -3.294444444444469, -3.294444444444469, -3.377777777777786, -3.627777777777796, -3.225000000000009, -3.3222222222222415, -3.725000000000009, -3.6138888888889, -3.6694444444444643, -3.6694444444444643, -3.9333333333333504, -4.086111111111127, -4.016666666666687, -5.350000000000014, -5.391666666666682, -5.350000000000014, -5.308333333333345, -5.211111111111133, -5.169444444444465, -5.377777777777806, -5.516666666666687, -5.294444444444469, -5.127777777777796, -5.016666666666687, -5.238888888888905, -5.002777777777791, -4.8222222222222415, -5.044444444444459, -4.294444444444469, -4.377777777777806, -4.391666666666682, -4.336111111111138, -4.350000000000014, -4.127777777777796, -4.419444444444454, -4.350000000000014, -3.738888888888905, -4.141666666666692, -4.002777777777791, -4.002777777777791, -3.961111111111123, -3.8083333333333456, -3.8083333333333456, -3.5861111111111277, -3.877777777777786, -3.752777777777801, -3.6694444444444643, -2.836111111111118, -3.238888888888905, -3.2666666666666773, -3.225000000000009, -2.9194444444444545, -2.8083333333333456, -2.780555555555573]')

In [266]:
concat_chain_data = concat_data.loc[(concat_data.state_chain.notna())]
concat_chain_data['len_state_chain']  = concat_chain_data.state_chain.apply(lambda x : len(x))
concat_chain_data = concat_chain_data.loc[concat_chain_data.len_state_chain > 2]
concat_chain_data.head(50)

,index,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain,len_state_chain
0,0,MRK,2,1.662560e+09,1.662561e+09,86.386,86.671,-1.000000,-0.119298,-1.000000,-1.000000,-1.000000,"[-0.11929824561405766, -0.4701754385964981, -0...",4
1,1,MRK,2,1.662646e+09,1.662647e+09,86.508,86.838,-1.000000,0.296970,-1.000000,-1.000000,-1.000000,"[0.2969696969696954, 0.11515151515150576, -0.7...",4
2,2,MRK,2,1.663012e+09,1.663163e+09,87.692,87.812,8.536000,17.266667,3.100000,8.016667,3.100000,"[0.09999999999989342, 8.016666666667222, 7.100...",77
3,3,MRK,2,1.663250e+09,1.663252e+09,86.412,86.632,-1.000000,0.509091,-1.000000,-1.000000,-1.000000,"[0.5090909090909526, 0.5090909090909526, 0.327...",9
7,7,MRK,2,1.663696e+09,1.663702e+09,85.906,86.016,-1.000000,2.236364,-1.000000,-1.000000,-1.000000,"[0.32727272727274137, 1.3272727272727414, 2.14...",24
10,10,GILD,2,1.664211e+09,1.664215e+09,62.448,62.528,-1.000000,3.350000,-1.000000,-1.000000,-1.000000,"[0.8499999999999911, 1.9750000000000578, 2.225...",14
18,18,PYPL,2,1.663248e+09,1.663249e+09,95.902,96.072,-1.000000,5.482353,-1.000000,5.482353,-1.000000,"[0.4235294117647177, 5.482352941176428, -2.929...",3
19,19,PYPL,2,1.663349e+09,1.663351e+09,92.894,93.184,-1.000000,0.393103,-1.000000,-1.000000,-1.000000,"[0.3931034482758685, -0.6758620689654956, -0.1...",7
23,23,PYPL,2,1.664458e+09,1.664803e+09,89.472,90.192,2.780556,5.516667,2.780556,2.780556,2.780556,"[-0.28888888888888714, -0.03888888888887727, 0...",233
26,26,IBM,2,1.663336e+09,1.663337e+09,124.558,124.988,-1.000000,-0.027907,-1.000000,-1.000000,-1.000000,"[-0.40000000000003305, -0.027906976744187583, ...",5
28,28,PFE,2,1.662558e+09,1.662560e+09,45.620,45.820,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,"[0.25000000000001776, -0.5499999999999539, 0.5...",8
32,32,PFE,2,1.663260e+09,1.663261e+09,45.904,45.994,-1.000000,-0.066667,-1.000000,-1.000000,-1.000000,"[-0.06666666666667193, -0.40000000000003155, -...",6
35,35,PFE,2,1.663945e+09,1.664202e+09,43.988,44.068,-1.000000,5.225000,-1.000000,-1.000000,-1.000000,"[0.10000000000002665, 0.5999999999999822, 1.34...",105
40,40,MMM,2,1.663336e+09,1.663337e+09,116.590,116.910,-1.000000,-0.125000,-1.000000,-1.000000,-1.000000,"[-0.5312499999999931, -0.18750000000000278, -0...",4
41,41,MMM,2,1.663700e+09,1.663702e+09,115.512,116.104,-1.000000,0.087838,-1.000000,-1.000000,-1.000000,"[0.08783783783785146, 0.05405405405404951, -0....",8
42,42,MMM,2,1.663095e+09,1.663768e+09,121.946,122.156,16.424571,33.838095,22.314286,3.742857,22.314286,"[0.6476190476190025, 1.8380952380951479, 2.409...",376
43,43,MMM,2,1.663784e+09,1.663786e+09,116.372,117.142,-1.000000,1.223377,-1.000000,-1.000000,-1.000000,"[0.21038961038961557, 1.2233766233765981, 0.63...",8
46,46,MMM,2,1.664476e+09,1.664476e+09,111.952,112.122,-1.000000,0.658824,-1.000000,-1.000000,-1.000000,"[0.30588235294112925, 0.6588235294117273, -0.3...",3
48,48,MCD,2,1.662740e+09,1.662745e+09,258.710,259.260,-1.000000,0.909091,-1.000000,-1.000000,-1.000000,"[0.0, 0.03636363636360254, 0.3818181818181367,...",18
51,51,MCD,2,1.664211e+09,1.664219e+09,243.918,244.686,-1.000000,1.677083,-1.000000,-1.000000,-1.000000,"[-0.171875, -0.484374999999963, -0.56249999999...",29
52,52,MCD,2,1.663942e+09,1.664384e+09,248.296,249.106,12.686420,17.007407,12.686420,12.686420,12.686420,"[-0.17777777777778403, -0.0790123456790385, 0....",253
53,53,MCD,2,1.664556e+09,1.664804e+09,232.912,233.432,0.100000,3.330769,0.100000,0.100000,0.100000,"[0.08076923076923224, 0.042307692307729516, 0....",39
57,57,TMO,2,1.663096e+09,1.663163e+09,563.448,564.228,-1.000000,3.048718,-1.000000,-1.000000,-1.000000,"[-0.22051282051286086, 0.2538461538461359, -0....",9
59,59,TMO,2,1.663700e+09,1.663702e+09,531.668,532.848,-1.000000,0.727119,-1.000000,-1.000000,-1.000000,"[0.2864406779660845, 0.29491525423726367, 0.72...",7
60,60,TMO,2,1.663784e+09,1.663785e+09,532.345,534.820,-1.000000,0.878788,-1.000000,-1.000000,-1.000000,"[-0.42626262626260214, 0.8787878787878983, 0.6...",7
62,62,TMO,2,1.664289e+09,1.664290e+09,512.079,513.694,-1.000000,0.469969,-1.000000,-1.000000,-1.000000,"[0.46996904024771957, -0.4835913312693156, -0....",4
68,68,MSFT,2,1.663162e+09,1.663163e+09,252.136,253.672,-1.000000,-0.041667,-1.000000,-1.000000,-1.000000,"[-0.04166666666666281, -0.9075520833333529, -0...",3
69,69,MSFT,2,1.663095e+09,1.663615e+09,254.448,254.878,23.320930,30.879070,23.320930,2.623256,23.320930,"[0.6232558139534801, 1.1116279069767467, 0.925...",469
70,70,MSFT,2,1.663250e+09,1.663615e+09,250.380,252.460,2.865385,4.427885,2.865385,2.865385,2.865385,"[0.1826923076923044, 0.014423076923077384, 0.3...",300
71,71,MSFT,2,1.663180e+09,1.663615e+09,251.340,252.860,4.440789,6.690789,4.552632,4.440789,4.440789,"[-0.04605263157894343, -0.15789473684211314, 0...",358
76,76,MSFT,2,1.664360e+09,1.664362e+09,235.328,236.633,-1.000000,0.190038,-1.000000,-1.000000,-1.000000,"[0.029118773946368998, -0.37701149425287234, 0...",6
84,84,REGN,2,1.664213e+09,1.664216e+09,684.964,686.554,-1.000000,1.021384,-1.000000,-1.000000,-1.000000,"[0.7698113207547307, 0.8452830188679397, 0.140...",10
87,87,REGN,2,1.664904e+09,1.664905e+09,730.030,731.180,-1.000000,-0.208696,-1.000000,-1.000000,-1.000000,"[-0.2260869565217357, -0.20869565217392508, -0...",4
88,88,AMGN,2,1.663012e+09,1.663353e+09,237.948,238.228,29.707143,42.635714,29.707143,18.778571,29.707143,"[0.17142857142857723, 11.20714285714283, 12.02...",279
89,89,AMGN,2,1.663336e+09,1.663353e+09,229.104,229.888,-1.000000,2.734694,-0.670918,-1.000000,-1.000000,"[-0.19897959183670086, 0.2984693877551057, 0.1...",57
90,90,AMGN,2,1.663944e+09,1.664204e+09,228.414,229.179,0.528105,4.920261,0.528105,0.528105,0.528105,"[1.1032679738561801, 1.4562091503267378, 1.730...",78
92,92,AMGN,2,1.664475e+09,1.664480e+09,227.836,228.146,-1.000000,2.696774,-1.000000,-1.000000,-1.000000,"[0.761290322580699, 0.9225806451612879, 1.8580...",18
94,94,CVS,2,1.663163e+09,1.663249e+09,101.550,101.700,-1.000000,8.133333,-1.000000,-1.000000,-1.000000,"[0.13333333333330175, 2.666666666666509, 2.466...",74
95,95,CVS,2,1.663180e+09,1.663250e+09,100.928,101.376,-1.000000,1.334821,-1.000000,-1.000000,-1.000000,"[-0.13839285714282218, -0.026785714285683982, ...",17
97,97,CVS,2,1.663352e+09,1.663353e+09,101.216,101.376,-1.000000,0.100000,-1.000000,-1.000000,-1.000000,"[0.10000000000003553, -0.6499999999999201, -2....",3
99,99,CVS,2,1.664212e+09,1.664213e+09,97.094,97.334,-1.000000,0.100000,-1.000000,-1.000000,-1.000000,"[0.01666666666662818, 0.10000000000000592, -0....",4
102,102,JP225,2,1.662438e+09,1.662448e+09,27609.090,27656.240,-1.000000,0.099470,-1.000000,-1.000000,-1.000000,"[-0.8422057264051878, -0.6343584305409306, -0....",32
104,104,JP225,2,1.662472e+09,1.662476e+09,27630.300,27666.300,-1.000000,2.647222,-1.000000,-1.000000,-1.000000,"[-0.36388888888894955, 1.1666666666666667, 2.1...",12
106,106,JP225,2,1.662638e+09,1.662639e+09,27927.640,27947.040,-1.000000,0.373196,-1.000000,-1.000000,-1.000000,"[0.3731958762885268, -0.400000000000075, -0.65...",4
113,113,JP225,2,1.663180e+09,1.663185e+09,27897.140,27941.540,-1.000000,1.275676,-1.000000,-1.000000,-1.000000,"[0.032432432432401875, 0.14504504504501078, -0...",20
114,114,JP225,2,1.663241e+09,1.663251e+09,27873.900,27903.900,-1.000000,3.283333,-1.000000,-1.000000,-1.000000,"[-0.059999999999975746, 0.27000000000007274, 0...",33
115,115,JP225,2,1.663317e+09,1.663322e+09,27529.700,27544.700,-1.000000,1.933333,-1.000000,-1.000000,-1.000000,"[0.26666666666666666, 0.9333333333333333, 1.93...",17
119,119,JP225,2,1.663743e+09,1.663753e+09,27291.060,27371.220,-1.000000,0.817864,-1.000000,-1.000000,-1.000000,"[-0.18762475049901323, 0.06312375249498105, 0....",34
120,120,JP225,2,1.663690e+09,1.663778e+09,27537.660,27557.760,10.250030,15.530348,-0.892537,9.813930,-1.000000,"[-0.11641791044775579, 0.12736318407965333, 0....",258
121,121,JP225,2,1.663910e+09,1.663913e+09,26947.220,26982.420,-1.000000,0.446591,-1.000000,-1.000000,-1.000000,"[-0.10170454545459297, -0.252272727272751, -0....",14

In [264]:
concat_chain_data = concat_data.loc[(concat_data.state_chain.notna())]
concat_chain_data['len_state_chain']  = concat_chain_data.state_chain.apply(lambda x : len(x))
concat_chain_data.loc[(concat_chain_data.len_state_chain <= 2) & (concat_chain_data.state_close_estimate > 0)].state_close_estimate.sum()

4.446544523588392

In [237]:
def get_return_with_max_estimate(state_return_list, min_thresh = 5, cut_thresh = 0.7):
    c = np.array(state_return_list)
    x = c[c > min_thresh]
    if len(x) > 0:
        list_temp = [x[0]]
        for i in range(1, len(x)):
            temp = x[0:i].max() * cut_thresh
            list_temp.append(temp)
        temp_df = pd.DataFrame()
        temp_df['a'] = x
        temp_df['b'] = list_temp
        return temp_df.a.iloc[-1] if temp_df.loc[temp_df.a < temp_df.b].empty else  temp_df.loc[temp_df.a < temp_df.b].iloc[0].a
    else:
        lost_r = c[-1] if c[-1] > 0 else -1
        return lost_r

concat_chain_data['estimate_with_thresh'] = concat_chain_data.state_chain.apply(lambda x : get_return_with_max_estimate(x) )

In [242]:
concat_chain_data.head(5)

,index,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain,len_state_chain,estimate_with_thresh
0,0,MRK,2,1.662560e+09,1.662561e+09,86.386,86.671,-1.000,-0.119298,-1.0,-1.000000,-1.0,"[-0.11929824561405766, -0.4701754385964981, -0...",4,-1.000000
1,1,MRK,2,1.662646e+09,1.662647e+09,86.508,86.838,-1.000,0.296970,-1.0,-1.000000,-1.0,"[0.2969696969696954, 0.11515151515150576, -0.7...",4,-1.000000
2,2,MRK,2,1.663012e+09,1.663163e+09,87.692,87.812,8.536,17.266667,3.1,8.016667,3.1,"[0.09999999999989342, 8.016666666667222, 7.100...",77,17.266667
3,3,MRK,2,1.663250e+09,1.663252e+09,86.412,86.632,-1.000,0.509091,-1.0,-1.000000,-1.0,"[0.5090909090909526, 0.5090909090909526, 0.327...",9,-1.000000
7,7,MRK,2,1.663696e+09,1.663702e+09,85.906,86.016,-1.000,2.236364,-1.0,-1.000000,-1.0,"[0.32727272727274137, 1.3272727272727414, 2.14...",24,-1.000000

In [241]:
concat_chain_data['estimate_with_thresh'] = concat_chain_data.state_chain.apply(lambda x : get_return_with_max_estimate(x , 12 , 0.7) )
concat_chain_data.estimate_with_thresh.sum()

-27.32915049847987

In [78]:
import glob , os
concat_data = pd.DataFrame()
for path in glob.glob("/Users/tranthong/Desktop/stock-app/state_output/state_output/*.csv"):
    tp_data = preprocess_tp_data(path)
    concat_data = pd.concat([tp_data, concat_data])
concat_data.reset_index(inplace=True)
concat_data.head(5)

,index,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,0,MRK,2,1.662560e+09,1.662561e+09,86.386,86.671,-1.000,-0.119298,-1.0,-1.000000,-1.0,"[-0.11929824561405766, -0.4701754385964981, -0..."
1,1,MRK,2,1.662646e+09,1.662647e+09,86.508,86.838,-1.000,0.296970,-1.0,-1.000000,-1.0,"[0.2969696969696954, 0.11515151515150576, -0.7..."
2,2,MRK,2,1.663012e+09,1.663163e+09,87.692,87.812,8.536,17.266667,3.1,8.016667,3.1,"[0.09999999999989342, 8.016666666667222, 7.100..."
3,3,MRK,2,1.663250e+09,1.663252e+09,86.412,86.632,-1.000,0.509091,-1.0,-1.000000,-1.0,"[0.5090909090909526, 0.5090909090909526, 0.327..."
4,4,MRK,1,1.663338e+09,1.663339e+09,87.218,86.998,-1.000,-0.218182,-1.0,-1.000000,-1.0,NaN

In [81]:
tp_data = concat_data
stock_tp_data = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].groupby('state_ticker').sum()
stock_tp_data['win_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].loc[tp_data.state_MA_r > 0].groupby('state_ticker').count().state_MA_r
stock_tp_data['loss_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].loc[tp_data.state_MA_r < 0].groupby('state_ticker').count().state_MA_r
stock_tp_data.win_count.fillna(0 , inplace = True)
stock_tp_data['win_count'] = stock_tp_data['win_count'].astype(int) 
stock_tp_data.loc[stock_tp_data.state_close_estimate > -20].state_close_estimate.sum()

463.97348031150364