In [9]:
import pandas as pd
import numpy as np
import warnings
import warnings
from datetime import datetime
warnings.filterwarnings("ignore")

In [83]:
portfolio = ['ADBE', 'ADP', 'AMGN', 'AVGO', 'BMY', 'CHTR',
       'CMCSA', 'COST', 'EA', 'GILD', 'HD', 'IBM', 'INTU', 'KO', 'LIN',
       'LMT', 'MA', 'MCD', 'MDLZ', 'MMM', 'MO', 'MRK', 'NKE', 'TMO', 'TSLA']
len(portfolio)

25

# func

In [78]:
def preprocess_tp_data(path):
  tp_data = pd.read_csv(path)
  tp_data.drop_duplicates(inplace = True)
  tp_data.last_r.loc[tp_data.last_r < 0] = -1
  tp_data.state_close_estimate.fillna(tp_data.last_r , inplace = True)
  tp_data.state_max_r.fillna(tp_data.last_r , inplace = True)
  tp_data.state_MA_r.fillna(tp_data.last_r, inplace = True)
  tp_data.state_RSI_r.fillna(tp_data.last_r, inplace = True)
  tp_data.state_MA_r.loc[tp_data.state_MA_r < -1] = -1
  tp_data.state_max_r.loc[tp_data.state_max_r < -1] = -1
  tp_data.state_chain.loc[~tp_data.state_chain.isna()] = tp_data.state_chain.loc[~tp_data.state_chain.isna()].apply(lambda x:str(x).strip('][').split(', '))
  tp_data.state_chain.loc[~tp_data.state_chain.isna()] = tp_data.state_chain.loc[~tp_data.state_chain.isna()].apply(lambda x:[float(element) for element in x])
  tp_data['state_day_start'] = tp_data['state_day_start'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
  tp_data['state_day_end'] = tp_data['state_day_end'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

  spread_df = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread2.csv')
  spread_df['spread'] = spread_df['spread'] / 2
  s = np.setdiff1d(tp_data.state_ticker.to_numpy(), spread_df.ticker.to_numpy())
  tp_data['spread'] = tp_data.state_ticker.loc[~tp_data.state_ticker.isin(s)].apply(lambda x: spread_df.spread.loc[spread_df.ticker == x].iloc[0])
  tp_data['spread'].loc[tp_data.state_ticker.isin(s)] = 5
  tp_data['deviation'] = 1
  tp_data['point'] = tp_data.state_ticker.loc[~tp_data.state_ticker.isin(s)].apply(lambda x: spread_df.point.loc[spread_df.ticker == x].iloc[0])
  tp_data['point'].loc[tp_data.state_ticker.isin(s)] = 0.01
  tp_data['sum_gap'] = ((tp_data['spread'] + tp_data['deviation']) * tp_data['point']) / abs(tp_data['state_open'] - tp_data['state_stop_loss'] ) + 1
  tp_data['state_chain_new'] = [np.array(y) / x for x,y in tp_data[['sum_gap' , 'state_chain']].to_numpy()]
  return tp_data
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput0.csv')

In [77]:
def get_return_with_max_estimate(state_return_list, min_thresh = 5, cut_thresh = 0.7):
    c = np.array(state_return_list).copy()
    x_value = c[c > min_thresh]

    if len(x_value) > 0:
        x_value = x_value[0]
        x_index, = np.where(c == x_value)
        x = c[x_index[0]:]
        list_temp = [x[0] * cut_thresh]
        for i in range(1, len(x)):
            temp = x[0:i].max() * cut_thresh
            list_temp.append(temp)
        temp_df = pd.DataFrame()
        temp_df['a'] = x
        temp_df['b'] = list_temp
        return temp_df.a.iloc[-1] if temp_df.loc[temp_df.a < temp_df.b].empty else  temp_df.loc[temp_df.a < temp_df.b].iloc[0].b
    else:
        lost_r = c[-1] if c[-1] > 0 else -1
        return lost_r

In [76]:
def get_stock_data(tp_data, min_thresh = 8, cut_thresh = 0.61):
    tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , min_thresh , cut_thresh) )
    tp_data['estimate_with_thresh2'] = tp_data.state_chain_new.apply(lambda x : x.max())
    tp_data.estimate_with_thresh2.loc[tp_data.estimate_with_thresh2 < 5] = -1
    stock_tp_data = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2']].groupby('state_ticker').sum()
    stock_tp_data['win_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2']].loc[tp_data.state_MA_r > 0].groupby('state_ticker').count().state_MA_r
    stock_tp_data['loss_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r' , 'estimate_with_thresh', 'estimate_with_thresh2']].loc[tp_data.state_MA_r < 0].groupby('state_ticker').count().state_MA_r
    stock_tp_data.win_count.fillna(0 , inplace = True)
    stock_tp_data['win_count'] = stock_tp_data['win_count'].astype(int) 

    return stock_tp_data

# TP data

In [8]:
tp_data = pd.read_csv('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput270.csv')
tp_data.head(5)

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain
0,MRK,1,2022-05-16 13:50:00,2022-05-18 13:50:00,90.985,90.510,NaN,7.400000,3.610526,3.884211,3.610526,"[-0.13684210526312074, -0.26315789473680745, -..."
1,MRK,2,2022-05-18 18:50:00,2022-05-19 19:00:00,92.204,92.394,NaN,5.915789,NaN,NaN,-1.000000,"[0.2842105263158036, 0.6526315789474258, 1.178..."
2,MRK,1,2022-05-25 16:10:00,2022-05-26 14:20:00,93.138,92.818,NaN,2.225000,0.131250,NaN,-1.000000,"[0.44374999999999665, 0.4750000000000133, 0.13..."
3,MRK,2,2022-05-26 14:35:00,2022-06-01 19:35:00,93.028,93.458,NaN,6.902326,3.600000,5.506977,3.600000,"[-0.05116279069765351, -0.5860465116278868, -0..."
4,MRK,2,2022-06-01 19:30:00,2022-06-03 13:40:00,91.385,92.145,NaN,3.480263,-0.125000,NaN,1.388158,"[-0.006578947368433847, -0.1250000000000187, 0..."

In [374]:
a = None
if a:
    print('a')

In [371]:
data1 = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread.csv')
data2 = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread2.csv')
data1['spread2'] = data1.ticker.apply(lambda x: data2.spread.loc[data2.ticker == x].iloc[0])
data1.loc[data1.spread != data1.spread2]

    Unnamed: 0   ticker  point  spread  deviation  spread2
0            0     AAPL   0.01       6          5        9
5            5      AMD   0.01      10          5       25
8            8     AMZN   0.01       4          5        6
12          12      BAC   0.01       8          5        9
13          13       BA   0.01      24          5       46
24          24     DE30   0.10      39          5       36
28          28       FB   0.01       8          5       41
38          38    JP225   0.10      90          5       89
50          50     MSFT   0.01      10          5       21
52          52     NFLX   0.01      24          5       81
54          54     NVDA   0.01      11          5       26
60          60     PYPL   0.01       9          5       16
63          63  STOXX50   0.01     397          5      387
65          65     TSLA   0.01       8          5        7

In [7]:
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput90.csv')
tp_data[['state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].describe()

       state_close_estimate  state_max_r  state_MA_r  state_RSI_r      last_r
count            634.000000   634.000000  634.000000   634.000000  634.000000
mean               0.133611     2.637146    0.020554     0.076891   -0.011929
std                3.938061     5.902176    3.700856     3.054069    3.709052
min               -1.000000    -1.000000   -1.000000    -1.000000   -1.000000
25%               -1.000000    -0.035287   -1.000000    -1.000000   -1.000000
50%               -1.000000     0.538088   -1.000000    -1.000000   -1.000000
75%               -1.000000     2.808854   -1.000000    -1.000000   -1.000000
max               38.100000    52.037500   38.100000    33.528571   38.100000

In [260]:
tp_data[['state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r']].sum()

state_close_estimate     46.891751
state_max_r             985.999242
state_MA_r               -9.228510
state_RSI_r              20.969008
last_r                  -16.195593
dtype: float64

In [266]:
tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 12 , 0.7) )
tp_data.estimate_with_thresh.sum()

-63.334356909509566

In [264]:
tp_data.head(5)

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain,spread,deviation,point,sum_gap,state_chain_new
0,MRK,1,2022-11-09 14:55:00,2022-11-09 19:50:00,102.024,101.814,0.885714,7.504762,0.885714,0.885714,0.885714,"[1.5999999999999324, 3.1238095238094337, 3.552...",7,5,0.01,1.571429,"[1.0181818181817892, 1.9878787878787578, 2.260..."
1,MRK,1,2022-11-16 14:55:00,2022-11-16 15:00:00,99.946,99.656,-1.000000,-0.572414,-1.000000,-1.000000,-1.000000,"[-0.572413793103425, -0.882758620689637]",7,5,0.01,1.413793,"[-0.4048780487804681, -0.6243902439024211]"
2,MRK,2,2022-11-16 19:35:00,2022-11-16 19:55:00,99.898,100.028,-1.000000,0.984615,-1.000000,-1.000000,-1.000000,"[0.9846153846153123, 0.75384615384609, 0.52307...",7,5,0.01,1.923077,"[0.5119999999999807, 0.39199999999998075, 0.27..."
3,MRK,1,2022-11-25 15:30:00,2022-11-25 15:40:00,107.268,107.076,-1.000000,-0.458333,-1.000000,-1.000000,-1.000000,"[-0.770833333333284, -0.45833333333328397, -0....",7,5,0.01,1.625000,"[-0.4743589743589509, -0.2820512820512558, -0...."
4,MRK,1,2022-11-29 18:25:00,2022-11-29 18:55:00,108.816,108.592,-1.000000,0.241071,-1.000000,-1.000000,-1.000000,"[0.10714285714285941, -0.42857142857143765, -0...",7,5,0.01,1.535714,"[0.069767441860467, -0.279069767441868, -0.046..."

# concat data

In [79]:
import glob , os
concat_data = pd.DataFrame()
for path in glob.glob("/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/*.csv"):
    tp_data = preprocess_tp_data(path)
    tp_data['bash_path'] = str(os.path.basename(path))
    concat_data = pd.concat([tp_data, concat_data])
concat_data.reset_index(inplace=True)

In [80]:
cut_thresh = 0.61
min_thresh = 6
concat_data['estimate_with_thresh'] = concat_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , min_thresh , cut_thresh) )
concat_data['estimate_with_thresh2'] = concat_data.state_chain_new.apply(lambda x : x.max() * cut_thresh )
concat_data.estimate_with_thresh2.loc[concat_data.estimate_with_thresh2 < 3] = -1
concat_data.loc[concat_data.state_ticker.isin(portfolio)].estimate_with_thresh.sum()

670.5873365625287

In [81]:
stock_tp_data = concat_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2', 'bash_path']].groupby(['state_ticker' , 'bash_path']).sum()
stock_tp_data['win_count'] = concat_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2', 'bash_path']].loc[concat_data.state_MA_r > 0].groupby(['state_ticker' , 'bash_path']).count().state_MA_r
stock_tp_data['loss_count'] = concat_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2', 'bash_path']].loc[concat_data.state_MA_r < 0].groupby(['state_ticker' , 'bash_path']).count().state_MA_r
stock_tp_data.win_count.fillna(0 , inplace = True)
stock_tp_data['win_count'] = stock_tp_data['win_count'].astype(int) 
stock_tp_data

                                 state_close_estimate  state_max_r  \
state_ticker bash_path
AAPL         stateoutput0.csv              -14.000000    14.001688
             stateoutput120.csv             -0.473267    24.204790
             stateoutput150.csv             -2.117733    21.692807
             stateoutput180.csv             -4.709986    58.150310
             stateoutput210.csv            -13.768421    27.340992
...                                               ...          ...
XPEV         stateoutput30.csv              -3.800000     6.290476
YUMC         stateoutput0.csv               -3.368750     5.113889
             stateoutput30.csv              -6.000000    11.413559
ZTO          stateoutput0.csv               -0.519298    17.797734
             stateoutput30.csv              -7.000000    13.482468

                                 state_MA_r  state_RSI_r     last_r  \
state_ticker bash_path
AAPL         stateoutput0.csv    -14.000000    -7.166667 -14.000000
             stateoutput120.csv   -0.473267     2.783911  -0.473267
             stateoutput150.csv   -1.678667    -2.117733  -2.117733
             stateoutput180.csv    3.864214     2.939569   2.939569
             stateoutput210.csv  -11.968672   -10.012171 -13.768421
...                                     ...          ...        ...
XPEV         stateoutput30.csv    -3.800000    -3.800000  -3.800000
YUMC         stateoutput0.csv     -2.553365    -3.368750  -3.368750
             stateoutput30.csv    -6.000000    -6.000000  -6.000000
ZTO          stateoutput0.csv     -0.519298    -0.519298  -0.519298
             stateoutput30.csv    -6.700000    -4.218182  -7.000000

                                 estimate_with_thresh  estimate_with_thresh2  \
state_ticker bash_path
AAPL         stateoutput0.csv              -14.000000             -14.000000
             stateoutput120.csv              1.792516               1.792516
             stateoutput150.csv             -2.304192              -0.352847
             stateoutput180.csv              3.170835               5.643230
             stateoutput210.csv             -9.011765              -3.152352
...                                               ...                    ...
XPEV         stateoutput30.csv              -3.909091              -5.000000
YUMC         stateoutput0.csv               -3.468421              -5.000000
             stateoutput30.csv              -6.000000              -6.000000
ZTO          stateoutput0.csv               -1.375346              -3.323733
             stateoutput30.csv              -8.000000              -8.000000

                                 win_count  loss_count
state_ticker bash_path
AAPL         stateoutput0.csv            0          14
             stateoutput120.csv          2           8
             stateoutput150.csv          2          10
             stateoutput180.csv          2          15
             stateoutput210.csv          1          16
...                                    ...         ...
XPEV         stateoutput30.csv           1           4
YUMC         stateoutput0.csv            1           4
             stateoutput30.csv           0           6
ZTO          stateoutput0.csv            2           6
             stateoutput30.csv           0           7

[753 rows x 9 columns]

In [84]:
stock_tp_data.loc[stock_tp_data.index.get_level_values(0).isin(portfolio)].groupby('state_ticker').sum()

,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,estimate_with_thresh,estimate_with_thresh2,win_count,loss_count
state_ticker,,,,,,,,,
ADBE,245.733843,454.073596,219.542219,50.464330,217.135973,194.365300,162.676768,12,71
ADP,19.371441,182.837133,10.269597,-4.180440,11.825427,13.260849,13.364826,12,62
AMGN,88.005697,290.336531,71.197741,51.462124,71.784292,69.667294,67.237293,18,60
AVGO,20.056106,197.680921,10.609004,19.712367,6.324333,31.415537,22.317700,11,59
BMY,30.929567,246.899391,-1.484876,17.841006,14.667181,4.175253,2.670658,19,72
CHTR,24.858028,320.181959,128.701917,28.919567,124.744284,-0.706443,80.269316,15,73
CMCSA,-6.975889,162.152991,-5.558410,4.614089,-7.915889,-6.916813,-11.401883,9,63
COST,-1.838396,169.942450,1.346952,-2.822555,-2.229568,0.480528,-0.645220,10,60
EA,14.942419,166.305472,-11.151196,16.647508,-8.707310,4.343949,-7.675647,11,71
GILD,41.253011,215.328452,28.646706,53.693560,27.131647,17.025956,21.216030,13,58
HD,27.906426,207.170688,11.734514,18.935107,10.405824,26.065662,27.569705,11,66
IBM,15.436239,189.125037,15.998671,10.970157,15.436239,20.450241,2.666389,15,59
INTU,31.310108,179.274755,6.100971,16.996096,4.524652,21.561049,13.585911,13,53
KO,12.852234,240.883842,76.127577,31.806137,71.010476,25.825580,7.718415,13,61
LIN,-1.135911,204.205044,1.520431,28.018728,0.568060,16.022648,9.388081,13,65
LMT,61.759270,286.464475,43.388127,48.779156,43.202798,64.152745,60.323333,12,65
MA,75.003024,215.170867,49.625077,18.692061,45.709767,3.136953,40.615182,9,61
MCD,4.646443,152.408053,-5.450987,6.772356,-3.523296,6.123506,1.120680,9,59
MDLZ,35.949946,182.742267,15.648250,11.357389,13.522740,11.535699,-3.050145,15,58
MMM,27.457761,219.265352,27.514467,17.505641,25.544568,34.546057,30.145463,17,55
MO,2.096760,186.519349,-15.798868,2.120753,-10.302331,-6.661826,-5.445995,10,67
MRK,-0.186591,202.430792,14.057096,8.708803,10.601409,13.159235,2.773727,16,66
NKE,88.907328,303.173149,77.455491,70.584735,73.190209,74.715137,54.060141,13,66
TMO,11.981427,250.576177,4.045332,40.881089,3.987795,15.308042,53.093783,12,65
TSLA,15.160464,339.717842,90.716056,-27.698176,90.294726,17.535199,45.214903,16,108

In [86]:
stock_tp_data.loc[stock_tp_data.index.get_level_values(0).isin(portfolio)].groupby('bash_path').sum()

,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,estimate_with_thresh,estimate_with_thresh2,win_count,loss_count
bash_path,,,,,,,,,
stateoutput0.csv,-43.637030,332.319021,-53.683860,-35.490941,-60.342622,-61.223055,-57.044823,21,163
stateoutput120.csv,53.168864,567.034121,51.137292,41.896451,60.160589,64.786578,38.688546,32,169
stateoutput150.csv,351.077287,956.632136,450.232982,78.192888,448.117025,267.726682,259.909777,36,155
stateoutput180.csv,64.877738,589.721381,66.918450,75.410406,65.281370,43.529344,68.671368,42,158
stateoutput210.csv,114.247821,622.859100,93.634749,161.172693,92.067595,109.227398,119.733731,36,160
stateoutput240.csv,17.990097,425.463037,-24.084825,19.031226,-20.287003,4.516499,7.339785,23,159
stateoutput270.csv,57.496907,522.687796,35.694857,13.017407,31.514410,40.204919,8.113788,38,182
stateoutput30.csv,60.375411,622.726126,119.893670,5.249210,122.791678,26.748099,86.763625,26,158
stateoutput60.csv,118.259919,605.520716,69.648154,103.090212,59.909628,93.814450,81.128784,39,177
stateoutput90.csv,91.623741,519.903148,55.410389,79.212035,49.721336,81.256422,76.504834,31,142

In [125]:
sub_concat_data = concat_data.loc[(concat_data.state_ticker.isin(portfolio))]

def get_return(min_thresh, cut_thresh):
    sub_concat_data.estimate_with_thresh = sub_concat_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , min_thresh , cut_thresh) )
    return sub_concat_data.estimate_with_thresh.sum()

min_thresh_list = np.arange(6.0,15.0,0.5)
cut_thresh_list =np.arange(0.5,0.8,0.01)
grid_list = []
for i in min_thresh_list:
    for j in cut_thresh_list:
        grid_list.append([i,j])
max = 0
i_temp = 0
j_temp = 0
for x in grid_list:
    temp = get_return(x[0],x[1])
    if(temp > max):
        max = temp
        i_temp = x[0]
        j_temp = x[1]

print(max, i_temp, j_temp)

545.9006094719391 6.0 0.6100000000000001

In [88]:
stock_tp_data.loc[stock_tp_data.index.get_level_values(0).isin(portfolio) & (stock_tp_data.index.get_level_values(1) == 'stateoutput0.csv')]

,,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,estimate_with_thresh,estimate_with_thresh2,win_count,loss_count
state_ticker,bash_path,,,,,,,,,
ADBE,stateoutput0.csv,-5.000000,3.884320,-4.871761,-5.000000,-5.000000,-5.000000,-5.000000,0,5
ADP,stateoutput0.csv,-7.000000,6.061252,-6.754839,-7.000000,-7.000000,-7.000000,-7.000000,0,7
AMGN,stateoutput0.csv,-1.439556,18.990263,-2.548148,-2.548148,-2.548148,-4.934269,-1.456358,1,10
AVGO,stateoutput0.csv,-3.622222,-0.286229,-3.622222,-3.622222,-3.622222,-3.867005,-6.000000,1,5
BMY,stateoutput0.csv,-9.185714,16.010420,-8.919048,-2.006924,-9.185714,-9.537500,-8.648812,1,12
CHTR,stateoutput0.csv,3.236364,32.124486,4.158398,3.236364,3.236364,-5.516152,0.286966,1,10
CMCSA,stateoutput0.csv,-6.000000,3.512900,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,0,6
COST,stateoutput0.csv,-5.000000,3.952306,-4.227586,-5.000000,-5.000000,-5.000000,-5.000000,0,5
EA,stateoutput0.csv,6.406354,21.728975,6.732440,6.406354,6.406354,5.881126,2.028210,3,5
GILD,stateoutput0.csv,-10.000000,7.662626,-10.000000,-10.000000,-10.000000,-10.000000,-10.000000,0,10
HD,stateoutput0.csv,-6.000000,8.027594,-6.000000,-6.000000,-6.000000,-6.000000,-1.838339,0,6
IBM,stateoutput0.csv,26.171429,45.620237,26.171429,18.742857,26.171429,18.102703,13.819135,1,7
INTU,stateoutput0.csv,-0.886239,3.876604,-0.372477,-0.886239,-0.886239,-1.008980,-3.000000,1,2
KO,stateoutput0.csv,-4.000000,0.659829,-3.600000,-4.000000,-4.000000,-4.000000,-4.000000,0,4
LIN,stateoutput0.csv,5.874473,13.486492,3.661358,8.303044,5.874473,6.027208,2.632725,2,1
LMT,stateoutput0.csv,-7.528866,7.638231,-7.528866,-3.260825,-7.528866,-3.843749,-3.843749,1,8
MA,stateoutput0.csv,-6.000000,0.485550,-3.626382,-6.000000,-6.000000,-6.000000,-6.000000,1,5
MCD,stateoutput0.csv,-4.989744,14.111495,-4.989744,-4.989744,-4.989744,-4.991209,-1.435747,1,5
MDLZ,stateoutput0.csv,1.083871,13.521610,1.083871,1.083871,1.083871,1.980650,1.980650,1,3
MMM,stateoutput0.csv,4.196000,21.075629,-5.242697,-6.000000,-6.000000,1.374500,1.374500,0,6
MO,stateoutput0.csv,7.388037,30.461456,2.753704,1.987037,1.987037,-0.691821,-2.183250,2,8
MRK,stateoutput0.csv,-10.517647,7.058165,-9.870588,-10.517647,-10.517647,-10.618605,-7.557622,1,11
NKE,stateoutput0.csv,1.900755,22.702428,1.900755,8.861692,1.900755,3.400701,3.400701,2,6
TMO,stateoutput0.csv,-4.724324,22.961028,-4.724324,1.699205,-4.724324,4.019347,4.396167,1,8
TSLA,stateoutput0.csv,-8.000000,6.991355,-7.247134,-2.979618,-8.000000,-8.000000,-8.000000,0,8

# Stock_tp_data

In [46]:
def get_stock_data(tp_data):
    tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 8 , 0.6) )
    tp_data['estimate_with_thresh2'] = tp_data.state_chain_new.apply(lambda x : x.max() * 0.75)
    tp_data['estimate_with_thresh2'].loc[tp_data['estimate_with_thresh2'] < 4] = -1
    tp_data.estimate_with_thresh2.loc[tp_data.estimate_with_thresh2 < 5] = -1
    stock_tp_data = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2']].groupby('state_ticker').sum()
    stock_tp_data['win_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r', 'estimate_with_thresh', 'estimate_with_thresh2']].loc[tp_data.state_MA_r > 0].groupby('state_ticker').count().state_MA_r
    stock_tp_data['loss_count'] = tp_data[['state_ticker','state_close_estimate','state_max_r','state_MA_r','state_RSI_r','last_r' , 'estimate_with_thresh', 'estimate_with_thresh2']].loc[tp_data.state_MA_r < 0].groupby('state_ticker').count().state_MA_r
    stock_tp_data.win_count.fillna(0 , inplace = True)
    stock_tp_data['win_count'] = stock_tp_data['win_count'].astype(int) 

    return stock_tp_data

In [47]:
stock_tp_data = get_stock_data(concat_data)
stock_tp_data.sum()

state_close_estimate        19.951226
state_max_r              15806.710344
state_MA_r                -374.072617
state_RSI_r               -143.036494
last_r                    -491.838738
estimate_with_thresh      -967.849670
estimate_with_thresh2     -546.276837
win_count                  981.000000
loss_count                5697.000000
dtype: float64

In [48]:
portfolio_list = stock_tp_data.loc[stock_tp_data.estimate_with_thresh > -10].index

In [615]:
path = '/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput150.csv'
tp_data = preprocess_tp_data(path)
#tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 15 , 0.6) )
stock_tp_data = get_stock_data(tp_data)
stock_tp_data.sum()

state_close_estimate      255.321413
state_max_r              2018.145404
state_MA_r                322.612335
state_RSI_r                 3.843986
last_r                    321.780874
estimate_with_thresh      152.794267
estimate_with_thresh2     274.091012
win_count                 103.000000
loss_count                579.000000
dtype: float64

In [105]:
def get_return_with_max_estimate(state_return_list, min_thresh = 5, cut_thresh = 0.7, cut_max_default = 7):
    c = np.array(state_return_list).copy()
    x_value = c[c > min_thresh]

    if len(x_value) > 0:
        x_value = x_value[0]
        x_index, = np.where(c == x_value)
        x = c[x_index[0]:]
        list_temp = [x[0] * cut_thresh]
        list_temp2 = [x[0] * (1 - cut_thresh)]
        for i in range(1, len(x)):
            temp = x[0:i].max() * cut_thresh
            temp2 = x[0:i].max() * (1 - cut_thresh)
            list_temp.append(temp)
            list_temp2.append(temp2)
        temp_df = pd.DataFrame()
        temp_df['a'] = x
        temp_df['b'] = list_temp
        temp_df['c'] = list_temp2
        temp_df.b.loc[temp_df.c > cut_max_default] =  temp_df.a - cut_max_default
        # print(temp_df.iloc[50:]
        return temp_df.a.iloc[-1] if temp_df.loc[temp_df.a < temp_df.b].empty else  temp_df.loc[temp_df.a < temp_df.b].iloc[0].b
    else:
        lost_r = c[-1] if c[-1] > 0 else -1
        return lost_r

In [7]:
a = {'a':1}
'a' in a.keys()

True

In [88]:
path = '/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput150.csv'
tp_data = preprocess_tp_data(path)

tp_data['estimate_with_thresh'] = tp_data.state_chain_new.apply(lambda x : get_return_with_max_estimate(x , 8 , 0.8) )
a = tp_data.loc[(tp_data.estimate_with_thresh > 30)].iloc[2]
a.state_chain_new , a.estimate_with_thresh , a.state_chain_new.max() * 0.8

(array([ 0.49474535,  0.97978981,  1.37590946,  2.07113985,  1.65885206,
         2.087308  ,  2.8148747 ,  3.76879547,  3.59902991,  4.18916734,
         2.87954729,  2.8148747 ,  3.04931285,  2.02263541,  2.63702506,
         2.45109135,  2.68552951,  2.60468876,  2.97655618,  3.71220695,
         2.58043654,  1.49717057,  2.00646726,  2.16006467,  1.43249798,
         2.00646726,  2.41875505,  1.24656427,  1.09296686,  1.62651576,
         1.82053355,  2.28940986,  2.66936136,  2.26515764,  1.87712207,
         1.92562652,  1.57801132,  1.61034762,  2.61277284,  2.51576395,
         2.04688763,  1.68310428,  1.09296686,  1.47291835,  1.4890865 ,
         0.69684721,  0.09054163,  0.33306386,  0.1956346 ,  0.61600647,
         0.51899757,  0.68876314,  0.72918351,  0.94745352,  1.27890057,
         1.38399353,  1.64268391,  1.90945837,  2.04688763,  3.1301536 ,
         2.8148747 ,  2.93613581,  3.38884398,  2.97655618,  2.79062247,
         2.75828618,  2.63702506,  2.66936136,  2.67744543,  2.73403395,
         3.21907842,  3.46968472,  4.01940178,  3.84963622,  3.84155214,
         3.33225546,  4.33468068,  4.7065481 ,  4.4236055 ,  4.45594179,
         4.65804365,  5.04607922,  4.20533549, 40.47049313, 44.29426031,
        45.0864996 , 45.0541633 , 44.31851253, 40.49474535, 41.35974131,
        38.32012935, 39.42764753, 41.31123686, 42.58852061, 41.62651576,
        42.09539208, 44.58528698, 49.25788197, 51.97413096, 54.88439774,
        55.00565885, 53.74454325, 53.10590137, 52.07113985, 52.53193209,
        50.97170574, 49.67825384, 51.44058205, 51.85286985, 52.83104285,
        52.84721099, 53.65561843, 54.34276475, 53.68795473, 52.96847211,
        53.82538399, 54.19725141, 53.02506063, 52.95230396, 52.04688763,
        50.8585287 , 49.15278901, 49.58124495, 48.53839935, 48.26354082,
        49.32255457, 49.43573161, 49.12045271, 49.10428456, 50.2279709 ,
        50.55941795, 51.70735651, 52.10347615, 52.87954729, 52.28940986,
        52.94421989, 53.08164915, 53.02506063, 53.07356508, 54.17299919,
        52.98464026, 53.065481  , 52.80679062, 53.43734842, 53.67987065,
        52.37833468, 52.68552951, 52.70978173, 51.96604689, 53.10590137,
        53.49393694, 53.40501213, 54.05982215, 54.05982215, 52.45917542,
        53.04931285, 63.18674212, 63.93047696, 64.76313662, 65.27243331,
        63.00080841, 64.55295069, 63.21099434, 62.99272433, 63.17057397,
        63.66370251, 61.96604689, 62.77445432, 63.62328213, 64.11641067,
        64.14066289, 64.72271625, 64.0759903 , 63.25949879, 62.77445432,
        62.57235247, 63.58286176, 63.97898141, 64.44785772, 65.58771221,
        64.82780922, 64.23767179, 63.6960388 , 63.68795473, 64.35084883,
        64.03556993, 64.00323363, 64.52061439, 65.45836702, 66.21018593,
        65.53920776, 65.11883589, 64.58528698, 64.19725141, 63.23524656,
        62.88763137, 63.83346807, 63.83346807, 64.43977365, 63.82538399,
        64.22150364, 64.69846403, 64.7388844 , 64.043654  , 63.89814066,
        64.4236055 , 64.95715441, 64.92481811, 64.89248181, 65.28051738,
        65.26434923, 65.00565885, 64.75505255, 64.12449475, 64.13257882,
        64.12449475, 63.50202102, 62.58852061, 62.32174616, 62.20856912,
        62.26515764, 61.56184317, 63.08164915, 63.73645918, 63.02506063,
        63.02506063, 62.4995958 , 61.47291835, 61.00404204, 62.37833468,
        63.6960388 , 63.48585287, 63.12206952, 65.00565885, 64.90056589,
        65.06224737, 64.7712207 , 64.14874697, 63.3807599 , 62.93613581,
        63.60711399, 62.70169766, 62.79870655, 62.75828618, 62.44300728,
        61.78819725, 61.99029911, 61.95796281, 61.79628133, 62.4995958 ,
        63.45351657, 63.72029103, 63.67178658, 63.93856103, 63.70412288,
        64.02748585, 64.31042846, 64.26192401, 64.27809216, 64.29426031,
        63.84963622, 64.1083266 , 64.27809216, 64.20533549, 63.42118027,
        62.86337914, 63.29991916, 63.01697656, 62.76637025, 62.82295877,
        62.98464026, 63.25141471, 62.87146322, 62.82295877, 62.54001617,
        63.05739693, 63.82538399, 63.37267583, 63.46160065, 63.80921584,
        64.1083266 , 64.1083266 , 63.95472918, 64.27000808, 64.36701698,
        64.59337106, 63.98706548, 63.99514956, 63.89814066, 64.61762328,
        64.52869846, 64.20533549, 63.93856103, 62.87954729, 62.91996766,
        62.75828618, 62.89571544, 63.0331447 , 63.25949879, 62.92805174,
        63.35650768, 63.11398545, 68.3039612 , 68.38480194, 68.00485044,
        68.36054972, 68.65157639, 68.2392886 , 69.49232013, 68.01293452,
        68.24737268, 67.70573969, 67.80274859, 68.5869038 , 67.36620857,
        67.13177041, 66.56588521, 66.78415521, 66.14551334, 64.94098626,
        65.46645109, 66.21018593, 66.25060631, 66.13742926, 66.55780113,
        66.65481002, 66.98625707, 66.64672595, 66.11317704, 65.99191593,
        66.14551334, 66.3152789 , 66.44462409, 66.57396928, 66.40420372,
        66.75990299, 66.85691188, 66.64672595, 66.46887631, 66.5982215 ,
        66.5982215 , 66.38803557, 66.71139854, 66.62247373, 66.99434115,
        67.06709782, 66.99434115, 67.6734034 , 67.30962005, 67.38237672,
        67.28536783, 67.85933711, 68.45755861, 68.5869038 , 68.5545675 ,
        68.11802749, 67.77041229, 67.23686338, 67.2287793 , 67.47130154,
        67.88358933, 67.47938561, 67.03476152, 66.33144705, 66.75181892,
        66.54163298, 66.6305578 , 66.92966855, 66.71948262, 66.81649151,
        66.84882781, 67.35004042, 67.42279709, 67.02667745, 67.05092967,
        68.02101859, 67.2934519 , 66.95392078, 66.83265966, 67.0105093 ,
        66.81649151, 66.87308003, 66.78415521, 65.69280517, 65.83831851,
        66.57396928, 66.75990299, 66.52546483, 65.46645109, 64.90056589,
        64.85206144, 65.18350849, 65.24818108, 64.61762328, 64.63379143,
        65.27243331, 65.36135812, 65.59579628, 65.31285368, 65.44219887,
        65.51495554, 65.3047696 , 65.49070331, 65.52303961, 65.15925627,
        65.13500404, 64.99757478, 64.77930477, 64.64995958, 64.3265966 ,
        64.58528698, 65.00565885, 64.90864996, 65.00565885, 65.31285368,
        65.13500404, 65.4017785 , 65.74939369, 65.73322555, 65.91915926,
        65.58771221, 65.28860146, 64.83589329, 64.87631366, 64.84397736,
        65.021827  , 64.29426031, 68.45755861, 67.46321746, 68.9668553 ,
        68.48181083, 67.34195635, 67.56831043, 65.37752627, 65.56345998,
        62.96847211, 63.93047696, 63.08164915, 63.67987065, 64.18916734,
        65.17542441, 65.13500404, 65.87065481, 66.43654002, 68.31204527,
        68.26354082, 69.67825384, 70.38156831, 73.90622474, 74.73080032,
        73.55052546, 73.59902991, 74.18916734, 73.66370251, 71.8043654 ,
        72.85529507, 72.65319321, 72.087308  , 72.4672595 , 71.82861762,
        72.14389652, 72.36216653, 73.14632175, 73.01697656, 72.20048504,
        72.07922393, 72.91188359, 73.43734842, 73.84155214, 73.28375101,
        73.29183508, 73.01697656, 73.1301536 , 72.45109135, 72.28940986,
        72.16006467, 71.72352466, 71.31123686, 72.06305578, 71.65076799,
        70.44624091, 70.72109943, 71.09296686, 70.50282943, 70.51899757,
        70.72918351, 70.56750202, 70.64025869, 71.26273242, 71.47291835,
        71.44866613, 70.99595796, 71.21422797, 71.34357316, 70.36540016,
        70.37348424, 71.23848019, 71.02021019, 70.30072757, 70.130962  ,
        70.68067906, 71.02021019, 71.40824576, 71.50525465, 71.96604689,
        71.8043654 , 71.60226354, 71.25464834, 70.95553759, 71.22231205,
        70.25222312, 70.24413905, 69.87227162, 69.55699272, 68.72433306,
        69.58124495, 70.02586904, 69.58932902, 69.22554568, 69.20129345,
        69.32255457, 72.37833468, 72.64510914, 72.49151172, 72.25707357,
        71.89329022, 71.24656427, 70.89894907, 70.90703314, 70.64025869,
        70.29264349, 70.21988682, 70.72109943, 70.04203719, 70.72918351,
        70.39773646, 70.84236055, 70.84236055, 70.15521423, 70.53516572,
        70.21988682, 70.38965238, 71.4890865 , 71.1414713 , 71.01212611,
        71.5214228 , 71.8043654 , 71.40824576, 71.65076799, 71.81244947,
        72.61277284, 72.41067098, 72.64510914, 72.94421989, 73.82538399,
        73.74454325, 73.4777688 , 73.62328213, 73.0978173 , 72.38641876,
        72.36216653, 72.1519806 , 72.16006467, 72.1843169 , 71.58609539,
        72.21665319, 73.13823767, 72.82295877, 73.39692805, 73.35650768,
        73.02506063, 72.98464026, 73.04122878, 72.99272433, 73.66370251,
        74.24575586, 74.43168957, 74.06790622, 73.96281326, 74.44785772,
        74.83589329, 74.29426031, 74.55295069, 74.90864996, 75.42603072,
        74.49636217, 74.38318513, 74.0759903 , 73.67178658, 74.18916734,
        73.6960388 , 72.90379951, 72.96847211, 72.32983023, 69.96928052,
        69.71867421]),
 69.7186742118003,
 60.34082457558398)

In [249]:
#tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new.csv')
def get_return_with_max_estimate(state_return_list, min_thresh = 12, cut_thresh = 0.66):
    c = np.array(state_return_list)
    x = c[c > min_thresh]
    if len(x) > 0:
        list_temp = [x[0]]
        for i in range(1, len(x)):
            temp = x[0:i].max() * cut_thresh
            list_temp.append(temp)
        temp_df = pd.DataFrame()
        temp_df['a'] = x
        temp_df['b'] = list_temp
        return temp_df.a.iloc[-1] if temp_df.loc[temp_df.a < temp_df.b].empty else  temp_df.loc[temp_df.a < temp_df.b].iloc[0].a
    else:
        lost_r = c[-1] if c[-1] > 0 else -1
        return lost_r

tp_data['new_estimate'] = tp_data.state_chain.apply(lambda x: get_return_with_max_estimate(x, 12, 0.66))
tp_data.new_estimate.sum()

86.98738404481048

In [152]:
tp_data.state_close_estimate.sum()

39.52315681719646

In [214]:
spread_df = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread.csv')

In [212]:
tp_data = preprocess_tp_data('/Users/tranthong/Desktop/stock-app/state_output_new/state_output_new/stateoutput90.csv')

In [224]:
spread_df = pd.read_csv('/Users/tranthong/Desktop/stock-app/spread.csv')
tp_data['spread'] = tp_data.state_ticker.apply(lambda x: spread_df.spread.loc[spread_df.ticker == x].iloc[0])
tp_data['deviation'] = tp_data.state_ticker.apply(lambda x: spread_df.deviation.loc[spread_df.ticker == x].iloc[0])
tp_data['point'] = tp_data.state_ticker.apply(lambda x: spread_df.point.loc[spread_df.ticker == x].iloc[0])
tp_data['sum_gap'] = ((tp_data['spread'] + tp_data['deviation']) * tp_data['point']) / abs(tp_data['state_open'] - tp_data['state_stop_loss'] ) + 1
tp_data['state_chain_new'] = [np.array(y) / x for x,y in tp_data[['sum_gap' , 'state_chain']].to_numpy()]

In [244]:
x = tp_data.state_chain.iloc[0][0]

tp_data.loc[(tp_data.state_chain[0] == 1)]

KeyError: 'False: boolean label can not be used without a boolean index'

In [247]:
tp_data['state_chain_new'] = [np.array(y) / x for x,y in tp_data[['sum_gap' , 'state_chain']].to_numpy()]

In [250]:
tp_data.state_close_estimate.sum()

46.89175083298029

In [248]:
tp_data

,state_ticker,state_order,state_day_start,state_day_end,state_open,state_stop_loss,state_close_estimate,state_max_r,state_MA_r,state_RSI_r,last_r,state_chain,spread,deviation,point,sum_gap,state_chain_new
0,MRK,1,2022-11-09 14:55:00,2022-11-09 19:50:00,102.024,101.814,0.885714,7.504762,0.885714,0.885714,0.885714,"[1.5999999999999324, 3.1238095238094337, 3.552...",7,5,0.01,1.571429,"[1.0181818181817892, 1.9878787878787578, 2.260..."
1,MRK,1,2022-11-16 14:55:00,2022-11-16 15:00:00,99.946,99.656,-1.000000,-0.572414,-1.000000,-1.000000,-1.000000,"[-0.572413793103425, -0.882758620689637]",7,5,0.01,1.413793,"[-0.4048780487804681, -0.6243902439024211]"
2,MRK,2,2022-11-16 19:35:00,2022-11-16 19:55:00,99.898,100.028,-1.000000,0.984615,-1.000000,-1.000000,-1.000000,"[0.9846153846153123, 0.75384615384609, 0.52307...",7,5,0.01,1.923077,"[0.5119999999999807, 0.39199999999998075, 0.27..."
3,MRK,1,2022-11-25 15:30:00,2022-11-25 15:40:00,107.268,107.076,-1.000000,-0.458333,-1.000000,-1.000000,-1.000000,"[-0.770833333333284, -0.45833333333328397, -0....",7,5,0.01,1.625000,"[-0.4743589743589509, -0.2820512820512558, -0...."
4,MRK,1,2022-11-29 18:25:00,2022-11-29 18:55:00,108.816,108.592,-1.000000,0.241071,-1.000000,-1.000000,-1.000000,"[0.10714285714285941, -0.42857142857143765, -0...",7,5,0.01,1.535714,"[0.069767441860467, -0.279069767441868, -0.046..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,NFLX,2,2022-11-29 15:30:00,2022-11-30 11:15:00,281.168,283.248,-1.000000,2.354808,-1.000000,-1.000000,-1.000000,"[0.14326923076923273, 0.3596153846153828, 0.29...",24,5,0.01,1.139423,"[0.12573839662447417, 0.31561181434598967, 0.2..."
376,NFLX,1,2022-11-30 14:35:00,2022-11-30 14:40:00,283.605,281.780,-1.000000,-0.523288,-1.000000,-1.000000,-1.000000,"[-0.5232876712329024, -0.9178082191780942]",24,5,0.01,1.158904,"[-0.4515366430260266, -0.791962174940908]"
377,NFLX,1,2022-12-01 20:15:00,2022-12-01 20:20:00,318.462,317.632,-1.000000,-0.592771,-1.000000,-1.000000,-1.000000,"[-0.677108433734967, -0.5927710843373147]",24,5,0.01,1.349398,"[-0.501785714285732, -0.43928571428568647]"
378,NFLX,1,2022-12-02 20:25:00,2022-12-02 20:35:00,320.746,320.056,-1.000000,0.223188,-1.000000,-1.000000,-1.000000,"[0.22318840579701454, -0.09565217391308861, -0...",24,5,0.01,1.420290,"[0.1571428571427958, -0.06734693877554192, -0...."
379,NFLX,2,2022-12-05 15:15:00,2022-12-05 15:20:00,316.514,318.154,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,"[-1.1195121951219296, -1.3268292682926406]",24,5,0.01,1.176829,"[-0.9512953367875502, -1.1274611398963417]"

In [157]:
path =  '/Users/tranthong/Desktop/stock-app/stock_data_M5/'
def get_mt5_raw_data_range(ticker, start, end):
    stock_dir = path + ticker +'_2022.csv'
    rates =  pd.read_csv(stock_dir, index_col =[0])
    rates['index'] = rates['index'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
    a = rates.loc[ (rates['index'] > start) & (rates['index'] < end )]
    a.reset_index(inplace = True ,drop = True)
    a['day_num'] = a.index
    return a

start = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_day_start.iloc[0]
end = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_day_end.iloc[0]
ticker = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_ticker.iloc[0]
open = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_open.iloc[0]
stoploss = tp_data.loc[tp_data.state_close_estimate != tp_data.new_estimate].state_stop_loss.iloc[0]
r = abs(open -stoploss)
data =  get_mt5_raw_data_range(ticker, start, end)

In [158]:
(data.Close - open) / r

0       0.292308
1       0.523077
2      -0.015385
3       0.446154
4       0.984615
         ...
297    18.215385
298    18.215385
299    18.215385
300    18.061538
301    17.138462
Name: Close, Length: 302, dtype: float64

# schedule